<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<!-- 제이쿼리 -->
<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<!-- 폰트 1 -->
<link rel="stylesheet" href="/css/product_page/product_page.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<!-- 폰트 2 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@900&display=swap" rel="stylesheet">
<!-- 폰트 3 - 나눔고딕 --> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

<!-- css 링크 -->
 <link rel="stylesheet" href="/css/product_page/productDetail_ive_page.css">


    <div class="header1_user_bar_box">
		<div class="header1_user_bar">
		 	<ul class="main-header-inner main-header-inner2">
				<li th:if="${session.user_id == null}" class="header_middle_user">
					<a href="/user/user_login">
						<img data-bs-toggle="tooltip" data-bs-placement="bottom" title="LOGIN"
							src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/loginPassword.png">
						<!-- <span>LOGIN</span> -->
					</a>
				</li>
				<li th:if="${session.user_id != null}"  class="header_middle_user">
					<a href="/user/userLogoutForm">
						<img data-bs-toggle="tooltip" data-bs-placement="bottom" title="LOGOUT"
							src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/logout_icon.png">
						<!-- <span>LOGOUT</span> -->
					</a>
				</li>
				<li th:if="${session.user_id == null}"  class="header_middle_user">
					<a href="/user/user_join">
						<img data-bs-toggle="tooltip" data-bs-placement="bottom" title="JOIN"
							src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/loginJoin.png">
						<!-- <span>JOIN</span> -->
					</a>
				</li>
				<li th:if="${session.user_id != null}"  class="header_middle_user">
					<a href="/user/mypage">
						<img data-bs-toggle="tooltip" data-bs-placement="bottom" title="MY PAGE"
							src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/loginMember.png">
						<!-- <span>MY PAGE</span> -->
					</a>
				</li>
				<li th:if="${session.user_id != null}"  class="header_middle_user">
					<a href="/user/cart">
						<img data-bs-toggle="tooltip" data-bs-placement="bottom" style="width:32px; height: 29px;" title="CART"
							src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/shopping_cart.png">
						<!-- <span>CART</span> -->
						<!-- <a href="https://www.flaticon.com/kr/free-icons/-" title="쇼핑하러 가다 아이콘">쇼핑하러 가다 아이콘  제작자: I Wayan Wika - Flaticon</a> -->
					</a>
				</li>
			</ul>
		</div>
	</div>

    
    	<div class="header1">
    		<div class="header1-bottom">
	    		<div>
		    		<img style="width:100%; height:800px;" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/ive_main.jpg"/>
	    		</div>
	    		<div class="main_content_box">
	    			<div class="main_content_img">
	    				<img style="width: 245px; height: 245px; box-shadow: 1px 2px 10px #151212" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/ive_album_all.jpg">
	    				<div class="main_new_img">
	    					<img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/new_in.png" />
	    				</div>
	    			</div>
	    			<div class="main_content_info">
	    				<div style="font-family: 'Noto Rashi Hebrew', serif; font-size: 20px">THE 3RD SINGLE ALBUM </div>
	    				<div style="font-family: 'Nanum Gothic', sans-serif; font-weight: 600 ">아이브 After LIKE 신곡 음원 발매</div>
	    			</div>
		    	</div>
	    		
	    		<div class="header_main"><!-- 헤더 상단 메뉴바 -->
	    			<div class="header_main_menu">
	    				<ul>
	                        <li>
	                          <span class="menu_bar_name"><a href="/about">COMPANY</a></span>
	                          <ul class="menu_bar1">
	                             <li><span><a href="/about">ABOUT Y4J</a></span></li>
	                             <li><span><a href="/history">HISTORY</a></span></li>
	                             <li><span><a href="/contact">CONTACT</a></span></li>
	                          </ul>
	                      </li>
	                      <li>
	                           <span class="menu_bar_name"><a href="/artist/artistList">ENTERTAINER</a></span>
	                           <ul class="menu_bar1">
	                              <li><span><a href="/artist/nj/artistDetail_newjeans/main_nj">NEWJEANS</a></span></li>
	                              <li><span><a href="/artist/ive/artistDetail_ive/main_ive">IVE</a></span></li>
	                              <li><span><a href="/artist/bp/artistDetail_Bp/mainBp">BLACKPINK</a></span></li>
	                              <li><span><a href="/artist/ldh/artistDetail_ldh/main_ldh">LEE DOHYUN</a></span></li>
	                              <li><span><a href="/artist/csb/artistDetail_csb/main_csb">CHAE SOOBIN</a></span></li>
	                            </ul>
	                       </li>
	                       <li>
	                            <span class="menu_bar_name"><a href="/product/productList">PRODUCTION</a></span>
	                            <ul class="menu_bar1">
	                              <li><span><a href="/product/NEWJEANS">NEWJEANS</a></span></li>
	                              <li><span><a href="/product/IVE">IVE</a></span></li>
	                              <li><span><a href="/product/BLACKPINK">BLACKPINK</a></span></li>
	                              <li><span><a href="/product/LEEDOHYUN">LEE DOHYUN</a></span></li>
	                              <li><span><a href="/product/CHAESOOBIN">CHAE SOOBIN</a></span></li>
	                            </ul>
	                         </li>
	                         <li>
	                            <span class="menu_bar_name"><a href="/audition/audition_notice">AUDITION</a></span>
	                            <ul class="menu_bar1">
	                              	<li class="menu_bar_content"><a href="/audition/audition_notice">AUDITION</a></li>
	                            </ul>
	                       	</li>
			    			<!-- 메뉴 상단바 y4j 로고 -->
			    			<li>
			    				<a href="/product/IVE">
			    					<img style="width:100px; height: 80px" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/y4j_logo_black.png"/>
			    				</a>
			    			</li>
	                       </ul>
	    				</div>
	    			</div>
    		</div><!-- 헤더 상단 메뉴바 끝 -->
    	</div>
    	
    

    	
    <!-- 사이드  -->
	<form id="ive_page" action="IVE" name="actionForm" method="get">
		<input id="product_value" type="hidden" name="searchName" th:value="${searchName}"/>
		<input id="product_classfication_button" type="hidden" name="searchContent" value=""/>
		
		
	    <aside style="position: relative;">
	    	<div class="aside_ive_goods_wrap">
	    		<div class="aside_ive_goods_box1">
	    			<div  class="aside_ive_goods_box2">
		    			<div  class="aside_ive_goods_box3">
		    				<p style="margin: 10px 5px;">
					    		<span style="font-size: 17px; font-family: 'Nanum Gothic', sans-serif; font-weight: 500;">IVE</span>
		    				</p>
		    				
		    				<div class="aside_ive_goods_box4">
				    			
				    			<span>PRODUCT</span>
				    			<p id="down_img"><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/down.png"></p>
				    			<p id="up_img"><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/up.png"></p>
				  
				    			<!-- <a href="https://www.flaticon.com/free-icons/down-arrow" title="down arrow icons">Down arrow icons created by Arkinasi - Flaticon</a> -->
				    			<!-- <a href="https://www.flaticon.com/free-icons/swipe-up" title="swipe up icons">Swipe up icons created by artfath - Flaticon</a> -->
				    			
		    				</div>
		    				<div class="aside_ive_sidebar">
		    				<!-- 클릭 시에 value값에 강제로 값 넣기 -->
				    			<ul class="aside_ive_sidebar_check" >
				    				<li style="font-family: 'Nanum Gothic', sans-serif; font-weight: 700">앨범</li>
				    				<li style="font-family: 'Nanum Gothic', sans-serif; font-weight: 700">포토카드</li>
				    				<li style="font-family: 'Nanum Gothic', sans-serif; font-weight: 700">옷</li>
				    				<li style="font-family: 'Nanum Gothic', sans-serif; font-weight: 700">케이스</li>	
				    			</ul>
		    				</div>
		    			</div>
	    			</div>
	    		</div>
	    	
	    	</div>
	    
	    
	    </aside>
    	
    	
    
	<!-- IVE's goods -->
	<div style="display: flex; flex-direction:column; justify-content: center; align-items: center">
		<span id="iveButton" style="font-size: 32px; font-family: 'Noto Rashi Hebrew', serif; font-style:italic; padding-left: 60px ">IVE's Goods</span>
		<span style="font-family: 'Nanum Gothic', sans-serif;  font-size: 17px; padding-left: 60px; margin-top: 25px; font-weight: 500">Welcome to Chae Soobin's world</span>
	</div>
		    				    				
	
      <!-- 본문 -->	
     <div class="ive_main">
     	<!-- 최신순 / 판매량순 -->
	   	<div class="product_classfication_ive_box">
			<div class="product_classfication_ive">
				<span  style="border-left:1px solid  rgba(5, 3, 3, 0.148)">판매량순</span>
				<span>최신순</span>
			</div>
		</div>
	
		
		<!-- 아이브 전체 상품 -->
		<div class="ive_allproduct_wrap">
				<ul class="ive_allProduct_box" >
					<a th:each="ive: ${ive_list}" th:href="@{/product/detail_page(prod_no = ${ive.prod_no})}">
						<li class="ive_allproduct">
							<img style="width: 230px; height: 230px;  object-fit:cover;text-align: center" name="prod_img_path" th:src="@{${ive.prod_img_path}}"/>
							<div class="ive_allproduct_name">
								<span name="prod_name" >[[${ive.prod_name}]]</span>
							</div>
							<div  class="ive_allproduct_info" th:with="result = ${ive.prod_price}">
								<span class="info_price" name="prod_price" th:text="${#numbers.formatInteger(result, 3, 'COMMA')}+'원'"></span>
								<span class="info_rate" style="color:red" name="prod_discount_rate">[[${ive.prod_discount_rate}]]%</span>
							</div>
						</li>
					</a>
				</ul>
			</div> 
		</div><!-- 본문 내용 끝 -->	 
	</form>

	




	<!--footer  -->
	<div class="footer-outer">
        <footer>
          <div class="footer-inner">
            <div class="footer-left">
              <img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/y4j_logo_black.png" />
            </div>
            <div class="footer-left footer-left2">
              <div>개인정보 취급 방침 ⎮ 이용약관 ⎮ 고객센터/문의하기</div>
              <div>서울시 강남구 테헤란로 7길 7 ⎮ TEL. 02)123-4567 ⎮ FAX. 02)345-6789</div>
              <div class="footer-left2-div3">COPYRIGHT ⓒ Y4J ENTTERTAINMENT All RIGHTS RESERVED</div>
            </div>
            <div class="footer-right">
              <span>개인정보처리방침</span>
              <span>▼ 관련 사이트</span>
            </div>
          </div>
        </footer>
        </div>
        
  <!-- js 링크 -->
 <script src="/js/product_detail/productDetail_ive_page.js"></script>
</html>