<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<!-- 제이쿼리 -->
<script src="https://code.jquery.com/jquery-1.12.1.mim.js"></script>
<!-- 폰트 1 -->
<link rel="stylesheet" href="/css/product_page/product_page.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<!-- 폰트 2 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@900&display=swap" rel="stylesheet">
<!-- 폰트 3 - 나눔고딕 --> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

<!-- css 링크 -->
 <link rel="stylesheet" href="/css/product_page/productDetail_ive_page.css">



    
    	<div class="header1">
    		<div class="header1-bottom">
	    		<div>
		    		<img style="width:100%; height:800px;" src="/img/ive_main.jpg"/>
	    		</div>
	    		
	    		<div class="header_main"><!-- 헤더 상단 메뉴바 -->
	    			<div class="header_main_menu">
	    				<ul>
	                      <li>
	                          <span class="menu_bar_name"><a href="#">COMPANY</a></span>
	                          <ul class="menu_bar1">
	                             <li><span><a href="#">ABOUT Y4J</a></span></li>
	                             <li><span><a href="#">HISTORY</a></span></li>
	                             <li><span><a href="#">CONTACT</a></span></li>
	                          </ul>
	                      </li>
	                      <li>
	                           <span class="menu_bar_name"><a href="#">ENTERTAINER</a></span>
	                           <ul class="menu_bar1">
	                              <li><span><a href="#">NEWJEANS</a></span></li>
	                              <li><span><a href="#">BLACKPINK</a></span></li>
	                              <li><span><a href="#">IVE</a></span></li>
	                              <li><span><a href="#">LEE DOHYUN</a></span></li>
	                              <li><span><a href="#">CHAE SOOBIN</a></span></li>
	                            </ul>
	                       </li>
	                       <li>
	                            <span class="menu_bar_name"><a href="#">PRODUCTION</a></span>
	                            <ul class="menu_bar1">
	                              <li><span><a href="#">ALBUM</a></span></li>
	                              <li><span><a href="#">GOODS</a></span></li>
	                              <li><span><a href="#">MAGAZINE</a></span></li>
	                              <li><span><a href="#">PICTURE CARD</a></span></li>
	                            </ul>
	                         </li>
	                         <li>
	                            <span class="menu_bar_name"><a href="#">AUDITION</a></span>
	                            <ul class="menu_bar1">
	                              	<li class="menu_bar_content">AUDITION</li>
	                            </ul>
	                       	</li>
			    			<!-- 메뉴 상단바 y4j 로고 -->
			    			<li>
			    				<img style="width:100px; height: 80px" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/y4j_logo_black.png"/>
			    			</li>
	                       </ul>
	    				</div>
	    			</div>
    		</div><!-- 헤더 상단 메뉴바 끝 -->
    	</div>
    	
    
      <!-- 본문 -->
	<div class="celeb_main">
    	
    <!-- 사이드  -->
    <aside style="position: relative;">
    	<div class="aside_celeb_goods_wrap">
    		<div class="aside_celeb_goods_box1">
    			<div  class="aside_celeb_goods_box2">
	    			<div  class="aside_celeb_goods_box3">
	    				<p style="margin: 10px 5px;">
				    		<span style="font-size: 17px; font-family: 'Nanum Gothic', sans-serif; font-weight: 500;">CHAE SOO BIN</span>
	    				</p>
	    				
	    				<div class="aside_celeb_goods_box4">
			    			
			    			<span>PRODUCT</span>
			    			<p id="down_img"><img src="/img/down.png"></p>
			    			<p id="up_img"><img src="/img/up.png"></p>
			  
			    			<!-- <a href="https://www.flaticon.com/free-icons/down-arrow" title="down arrow icons">Down arrow icons created by Arkinasi - Flaticon</a> -->
			    			<!-- <a href="https://www.flaticon.com/free-icons/swipe-up" title="swipe up icons">Swipe up icons created by artfath - Flaticon</a> -->
			    			
	    				</div>
	    				<div class="aside_celeb_sidebar">
			    			<ul>
			    				<li>ALBUM</li>
			    				<li>PHOTO CARD</li>
			    				<li>CLOTHING</li>
			    				<li>CASE</li>
			    				
			    			</ul>
	    				</div>
	    			</div>
    			</div>
    		</div>
    	
    	</div>
    
    
    </aside>
    	
    	
    	
  

		
	</div>




	<!--footer  -->
	<div class="footer-outer">
        <footer>
          <div class="footer-inner">
            <div class="footer-left">
              <img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/y4j_logo_black.png" />
            </div>
            <div class="footer-left footer-left2">
              <div>개인정보 취급 방침 ⎮ 이용약관 ⎮ 고객센터/문의하기</div>
              <div>서울시 강남구 테헤란로 7길 7 ⎮ TEL. 02)123-4567 ⎮ FAX. 02)345-6789</div>
              <div class="footer-left2-div3">COPYRIGHT ⓒ Y4J ENTTERTAINMENT All RIGHTS RESERVED</div>
            </div>
            <div class="footer-right">
              <span>개인정보처리방침</span>
              <span>▼ 관련 사이트</span>
            </div>
          </div>
        </footer>
        </div>
        
  <!-- js 링크 -->
 <script src="/js/product_detail/productDetail_ive_page.js"></script>
</html>