<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head>
<!-- 폰트 1 -->
<link rel="stylesheet" href="/css/product_page/product_page.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<!-- 폰트 2 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@900&display=swap" rel="stylesheet">
<!-- 폰트 3 - 나눔고딕 --> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
<!-- 폰트 4 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap" rel="stylesheet">

<!-- css -->
 <link rel="stylesheet" href="/css/product_page/product_page.css">
<style>
	html,
	body {
		position: relative;
		height: 100%;
	}

	body {
		margin: 0;
		padding: 0;
	}

	swiper-container {
		width: 100%;
		height: 100%;
	}

	swiper-slide {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>

</head>
<th:block th:replace="~{./layout/user_layout :: function(~{:: .fragment})}">

	<div class="fragment" style="margin-top: 200px; width: 1080px">
		<!-- 스와이퍼 -->
		<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
		<swiper-container class="mySwiper" autoplay="true" autoplay-delay="4000" space-between="30" loop="true" speed="1600" style="margin-top: 70px;">
			<swiper-slide><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/lisa_swiper.jpg" /></swiper-slide>
			<swiper-slide><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/jisoo_album_swiper.jpg" /></swiper-slide>
		</swiper-container>


		<div style="position: relative;" >

			<!-- what's hot 뭐가 핫하뉘 -->
				<div class="hotTitle" style="font-family: 'Noto Rashi Hebrew', serif; font-size: 70px; line-height:80px; display: flex; flex-direction: column; font-style: italic;">
					<span >WHAT'S</span>
					<span>HOT</span>
				</div>
		

		<!-- Slider main container -->
		<div class="swiper" style="display: flex; justify-content: center; align-items: center;">
			<!-- Additional required wrapper -->
			<div style="height: 400px ;display: flex; justify-content: center; align-items: center;" class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide" style=" font-family: 'Nanum Gothic', sans-serif; display: flex; flex-direction: column; justify-content: center; align-items: center;" >
					<div style="position: relative;">
						<div>
							<img style="width: 320px; height: 300px;" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/lisa_clothing.jpg" alt="리사 의류"/>
						</div>
						<div class="new_in">
							<img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/new_in.png" />
						</div>
					</div>
					<div style=" width: 320px; display: flex; flex-direction: column; margin-top: 25px;">
						<span style="font-size: 19px; font-weight: 700; margin-left: 10px; margin-bottom: 10px;">봄여름에도 리사처럼 힙하게</span>
						<span style="font-size: 15px; font-weight: 500; margin-left: 10px;">원하는 스타일대로 입으세요</span>
					</div>
				</div>
				
				<div class="swiper-slide" style="font-family: 'Nanum Gothic', sans-serif; display: flex; flex-direction: column; justify-content: center; align-items: center;">
					<div style="position: relative;">
						<div>
							<img style="width: 320px; height: 300px;" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/jisoo_voice.jpg" />
						</div>
						<div class="new_in">
							<img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/new_in_pink.png" />
						</div>
					</div>
					<div style="width: 320px; display: flex; flex-direction: column; margin-top: 25px; ">
						<span style="font-size: 19px; font-weight: 700; margin-left: 10px; margin-bottom: 10px;">지금만 구매할 수 있는 한정판</span>
						<span style="font-size: 15px; font-weight: 500; margin-left: 10px;">지수의 목소리로 가득한 LP</span>
					</div>
				</div>
				
				
				<div class="swiper-slide" style="font-family: 'Nanum Gothic', sans-serif; display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative;">
					<div style="position: relative;">
						<div>
							<img style="width: 320px; height: 300px;" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/jisoo_solo_album.jpeg" />
						</div>
						<div class="new_in">
							<img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/new_in.png" />
						</div>
					</div>
					<div style="width: 320px; display: flex; flex-direction: column; margin-top: 25px; ">
						<span style="font-size: 19px; font-weight: 700; margin-left: 10px; margin-bottom: 10px;">지수의 첫 솔로 앨범</span>
						<span style="font-size: 15px; font-weight: 500; margin-left: 10px;">아름다운 모습들이 가득한 앨범</span>
					</div>
				</div>
		
				<div class="swiper-slide" style=" font-family: 'Nanum Gothic', sans-serif; display: flex; flex-direction: column; justify-content: center; align-items: center;" >
					<div style="position: relative;">
						<div>
							<img style="width: 320px; height: 300px;" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/leedohyun_cloth_covernot.jpg" alt="리사 의류"/>
						</div>
						<div class="new_in">
							<img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/new_in.png" />
						</div>
					</div>
					<div style=" width: 320px; display: flex; flex-direction: column; margin-top: 25px;">
						<span style="font-size: 19px; font-weight: 700; margin-left: 10px; margin-bottom: 10px;">봄여름에도 리사처럼 힙하게</span>
						<span style="font-size: 15px; font-weight: 500; margin-left: 10px;">원하는 스타일대로 입으세요</span>
					</div>
				</div>
				
				<div class="swiper-slide" style="font-family: 'Nanum Gothic', sans-serif; display: flex; flex-direction: column; justify-content: center; align-items: center;">
					<div style="position: relative;">
						<div>
							<img style="width: 320px; height: 300px;" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/newjeans_cloth_blue.png" />
						</div>
						<div class="new_in">
							<img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/new_in_pink.png" />
						</div>
					</div>
					<div style="width: 320px; display: flex; flex-direction: column; margin-top: 25px; ">
						<span style="font-size: 19px; font-weight: 700; margin-left: 10px; margin-bottom: 10px;">지금만 구매할 수 있는 한정판</span>
						<span style="font-size: 15px; font-weight: 500; margin-left: 10px;">지수의 목소리로 가득한 LP</span>
					</div>
				</div>
				
				
				<div class="swiper-slide" style="font-family: 'Nanum Gothic', sans-serif; display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative;">
					<div style="position: relative;">
						<div>
							<img style="width: 320px; height: 300px;" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/ive_album_lovedive.jpg" />
						</div>
						<div class="new_in">
							<img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/new_in.png" />
						</div>
					</div>
					<div style="width: 320px; display: flex; flex-direction: column; margin-top: 25px; ">
						<span style="font-size: 19px; font-weight: 700; margin-left: 10px; margin-bottom: 10px;">지수의 첫 솔로 앨범</span>
						<span style="font-size: 15px; font-weight: 500; margin-left: 10px;">아름다운 모습들이 가득한 앨범</span>
					</div>
				</div>
		</div>
			
			 <!-- If we need navigation buttons -->
			  <div class="swiper-button-prev"></div>
			  <div class="swiper-button-next"></div>
		</div>
		
		<!-- search -->
		<form id="prod_search" action="productList"  method="get">
			<div class="productSearch_wrap">
				<Strong>SEARCH</Strong>
				<div class="productSearch_box">
					<!-- 검색창 -->
					<input id="AllprodSearch" class="productSearch" type="text" name="searchName" th:value="${cri.searchName}" placeholder="검색어를 입력해주세요">
					<img style="width: 25px; height: 25px; margin:0" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/search_icon.png"/>
					<!-- <a href="https://www.flaticon.com/kr/free-icons/" title="확대경 아이콘">확대경 아이콘  제작자: Ayub Irawan - Flaticon</a> -->

				</div>
			
				<div class="prod_hashTag_button">
					<span data-value="블랙핑크"># 블랙핑크</span>
					<span data-value="이도현"># 이도현</span>
					<span  data-value="앨범"># 앨범</span>
					<span  data-value="케이스"># 케이스</span>
				</div>
				
			</div>
	
			<!-- 모든 상품 나열: 페이지네이션과 카테고리? -->
			<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 150px; margin-bottom:'50px'">	
				<div style="display: flex; flex-direction: column;" class="about_goods">
					<span style="font-family: 'Noto Rashi Hebrew', serif; font-size: 30px; margin-bottom: 10px; font-weight: 900; font-style: italic;">About Goods</span>
					<span style="font-family: 'Nanum Gothic', sans-serif; font-size: 15px;">굿즈의 세계</span>
				</div>
			</div>
			<div class="product_classification_box">
				<div class="product_classification">
					<!-- 숨겨진 input 태그 -->
					<input id="prod_classify" type="hidden"  name="searchContent" value="" >
					<span  style="border-left:1px solid  rgba(5, 3, 3, 0.148)">판매량순</span>
					<span >최신순</span>
				</div>
			</div>
	
			<!-- 전체 상품 -->
			<div class="allProduct">
			  <a th:each="vo: ${list}"  th:href="@{/product/detail_page(prod_no = ${vo.prod_no})}">
				<div class="allProduct_list" >
					<div class="allProduct_box">
						<div class="allProduct_list_img" >
							<img style="width: 230px; height: 230px;" th:src="@{${vo.prod_img_path}}"/>	
						</div>
						<div class="allProduct_list_info_box">
							<div class="allProduct_list_info" th:with="price=${vo.prod_price}"><!-- hover이용해서 상품명이랑 가격 보이게 하기 -->
								<span>[[${vo.prod_name}]]</span>
								<p style="color:rgba(227, 3, 3, 0.897)" th:text="${#numbers.formatInteger(price, 3, 'COMMA')}+'원'"></p>
							</div>
						</div>
					</div>
				</div>
			  </a>
				<div class="more_button" style="margin-top:30px">
					<button type="button" id="more" ><span>more<span></span></button>
				</div>
			</div>
		</form>
	</div>
</div>
</th:block>
<script type="text/javascript" src="/js/product_detail/product_page.js"></script>
<script>

	const swiper = new Swiper('.swiper', {
		
		// Optional parameters
		direction: 'horizontal',
		loop: true,
		 direction: 'horizontal',
		  //한번에 보여지는 페이지 숫자
		  slidesPerView: 3,
		  //페이지와 페이지 사이의 간격
		  spaceBetween: 30,
		  //드레그 기능 true 사용가능 false 사용불가
		  debugger: true,
		  //마우스 휠기능 true 사용가능 false 사용불가
		  mousewheel: true,
		  //반복 기능 true 사용가능 false 사용불가
		  loop: true,
		  //선택된 슬라이드를 중심으로 true 사용가능 false 사용불가 djqt
		  centeredSlides: true,
	

		// Navigation arrows
		navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },


	});

</script>

</html>