<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
  
 
<!-- 폰트 1 -->
<link rel="stylesheet" href="/css/product_page/product_page.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<!-- 폰트 2 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@900&display=swap" rel="stylesheet">
<!-- 폰트 3 - 나눔고딕 --> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
<!-- 폰트 4 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap" rel="stylesheet">
<!-- css 링크 -->
 <link rel="stylesheet" href="/css/product_page/productDetail_blackpink_page.css">
<!-- 제이쿼리 -->
<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
	
   
	<div class="header1_user_bar_box">
		<div class="header1_user_bar">
		 	<ul class="main-header-inner main-header-inner2">
		      <li class="header_middle_user">
		        <a href="/user/user_login">
		          <img data-bs-toggle="tooltip" data-bs-placement="bottom" title="LOGIN" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/loginPassword.png">
		          <!-- <span>LOGIN</span> -->
		        </a>
		      </li>
		      <li class="header_middle_user">
		        <a href="/admin/admin_join">
		          <img data-bs-toggle="tooltip" data-bs-placement="bottom" title="JOIN" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/loginJoin.png">
		          <!-- <span>JOIN</span> -->
		        </a>
		      </li>
		      <li class="header_middle_user">
		        <a href="/user/mypage">
		          <img data-bs-toggle="tooltip" data-bs-placement="bottom" title="MY PAGE" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/loginMember.png">
		          <!-- <span>MY PAGE</span> -->
		        </a>
		      </li>
		      <li class="header_middle_user">
		        <a href="/user/cart">
		          <img data-bs-toggle="tooltip" data-bs-placement="bottom" style="width:32px; height: 29px;" title="CART" src="/img/shopping_cart.png">
		          <!-- <span>CART</span> -->
		          <!-- <a href="https://www.flaticon.com/kr/free-icons/-" title="쇼핑하러 가다 아이콘">쇼핑하러 가다 아이콘  제작자: I Wayan Wika - Flaticon</a> -->
		        </a>
		      </li>
		   	</ul>
		</div>
	</div>


    
    	<div class="header1">
    		<div class="header1-bottom">
	    		<div class="main_img">
		    		<img style="width:100%; height:800px;" src="/img/blackpink_main.jpg.crdownload"/>
	    		</div>
		    	<div class="main_content_box">
	    			<div class="main_content_img">
	    				<img style="width: 235px; height: 235px; box-shadow: 1px 2px 10px black" src="/img/bornPink_shut_down.webp">
	    				<div class="main_new_img">
	    					<img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/new_in.png" />
	    				</div>
	    			</div>
	    			<div class="main_content_info">
	    				<div style="font-family: 'Noto Rashi Hebrew', serif; font-size: 20px">[Born Pink] Shut down </div>
	    				<div style="font-family: 'Nanum Gothic', sans-serif; ">블랙핑크 신곡 발매</div>
	    			</div>
		    	</div>
	    	
	    		<div class="header_main"><!-- 헤더 상단 메뉴바 -->
	    			<div class="header_main_menu">
	    				<ul>
	                      <li>
	                          <span class="menu_bar_name"><a href="/about">COMPANY</a></span>
	                          <ul class="menu_bar1">
	                             <li><span><a href="/about">ABOUT Y4J</a></span></li>
	                             <li><span><a href="/history">HISTORY</a></span></li>
	                             <li><span><a href="/contact">CONTACT</a></span></li>
	                          </ul>
	                      </li>
	                      <li>
	                           <span class="menu_bar_name"><a href="/artist/musicianList">ENTERTAINER</a></span>
	                           <ul class="menu_bar1">
	                              <li><span><a href="/artist/nj/artistDetail_newjeans/main_nj">NEWJEANS</a></span></li>
	                              <li><span><a href="/artist/ive/artistDetail_ive/main_ive">IVE</a></span></li>
	                              <li><span><a href="/artist/bp/artistDetail_Bp/mainBp">BLACKPINK</a></span></li>
	                              <li><span><a href="/artist/ldh/artistDetail_ldh/main_ldh">LEE DOHYUN</a></span></li>
	                              <li><span><a href="/artist/csb/artistDetail_csb/main_csb">CHAE SOOBIN</a></span></li>
	                            </ul>
	                       </li>
	                       <li>
	                            <span class="menu_bar_name"><a href="/product/productList">PRODUCTION</a></span>
	                            <ul class="menu_bar1">
	                              <li><span><a href="/product/NEWJEANS">NEWJEANS</a></span></li>
	                              <li><span><a href="/product/BLACKPINK">IVE</a></span></li>
	                              <li><span><a href="/product/IVE">BLACKPINK</a></span></li>
	                              <li><span><a href="/product/LEEDOHYUN">LEE DOHYUN</a></span></li>
	                              <li><span><a href="/product/CHAESOOBIN">CHAE SOOBIN</a></span></li>
	                            </ul>
	                         </li>
	                         <li>
	                            <span class="menu_bar_name"><a href="#">AUDITION</a></span>
	                            <ul class="menu_bar1">
	                              	<li class="menu_bar_content">AUDITION</li>
	                            </ul>
	                       	</li>
			    			<!-- 메뉴 상단바 y4j 로고 -->
			    			<li>
			    				<a href="/product/BLACKPINK">
			    					<img style="width:100px; height: 80px" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/y4j_logo_black.png"/>
			    				</a>
			    			</li>
	                       </ul>
	    				</div>
	    			</div>
    		</div><!-- 헤더 상단 메뉴바 끝 -->
		 </div>

			
	  <!-- 사이드 바 -->
	<form id="productList_bp" action="BLACKPINK" method="get" ><!-- 폼태그 시작 -->
	    <div style="position: relative;">
	    	<div class="aside_celeb_goods_wrap">
	    		<div class="aside_celeb_goods_box1">
	    			<div  class="aside_celeb_goods_box2">
		    			<div  class="aside_celeb_goods_box3">
		    				<p style="margin: 10px 5px;">
					    		<span style="font-size: 17px; font-family: 'Nanum Gothic', sans-serif; font-weight: 500;">BLACK PINK</span>
		    				</p>
		    				<div class="aside_celeb_goods_box4">
				    			
				    			<span>PRODUCT</span>
				    			<p id="down_img"><img src="/img/down.png"></p>
				    			<p id="up_img"><img src="/img/up.png"></p>
				  
				    			<!-- <a href="https://www.flaticon.com/free-icons/down-arrow" title="down arrow icons">Down arrow icons created by Arkinasi - Flaticon</a> -->
				    			<!-- <a href="https://www.flaticon.com/free-icons/swipe-up" title="swipe up icons">Swipe up icons created by artfath - Flaticon</a> -->
		    				</div>
		    				<div class="aside_celeb_sidebar">
		    					<!-- 컨트롤러로 보낼 히든 인풋태그 1-->
				    			<input id="blackpink_sidebar" type="hidden" name="searchName" th:value="${searchName}" />
				    			<ul class="aside_celeb_sidebar_check">
				    				<li>ALBUM</li>
				    				<li>PHOTO CARD</li>
				    				<li>CLOTH</li>
				    				<li>PHONECASE</li>	
				    			</ul>
		    				</div>
		    			</div>
	    			</div>
	    		</div>
	    	</div>
		 </div>
		 
	
	<!-- blackpink's goods -->
	<div style="display: flex; flex-direction:column; justify-content: center; align-items: center">
		<span id="blackpinkButton" style="font-size: 32px; font-family: 'Noto Rashi Hebrew', serif; font-style:italic; padding-left: 60px ">BlackPink's Goods</span>
		<span style="font-family: 'Nanum Gothic', sans-serif;  font-size: 17px; padding-left: 60px; margin-top: 25px; font-weight: 500">Welcome to BlackPink's world</span>
	</div>
		    				    				
	
      <!-- 본문 -->	
     <div class="celeb_main">
   		
	   	<div class="product_classification_bp_box">
			<div class="product_classification_bp">
				<!-- 컨트롤러로 보낼 히든 인풋태그 2-->
				<input id="blackpink_classify" type="hidden" name="searchContent" value="">
				<span id="salesVolume" style="border-left:1px solid  rgba(5, 3, 3, 0.148)">판매량순</span>
				<span id="uptodate" >최신순</span>
			</div>
		</div>
	
	
		<!-- 블랙핑크 상품 페이지 -->
		<div class="blackpink_allproduct_wrap">
				<ul class="blackpink_allProduct_box" >
					<a th:each="blackpink: ${blackpink_list}" th:href="@{/product/detail_page(prod_no = ${blackpink.prod_no})}">
						<li class="blackpink_allproduct">
							<img style="width: 230px; height: 230px; text-align: center" name="prod_img_path" th:src="@{${blackpink.prod_img_path}}"/>
							<div class="blackpink_allproduct_name">
								<span name="prod_name" >[[${blackpink.prod_name}]]</span>
							</div>
							<div  class="blackpink_allproduct_info">
								<span class="info_price" name="prod_price">\[[${blackpink.prod_price}]]</span>
								<span class="info_rate" style="color:red" name="prod_discount_rate">[[${blackpink.prod_discount_rate}]]%</span>
							</div>
						</li>
					</a>
				</ul>
			</div> 
		</div><!-- 본문 내용 끝 -->	 
	</form><!-- 폼태그 끝 -->

	
	<!--footer  -->
	<div class="footer-outer">
        <footer>
          <div class="footer-inner">
            <div class="footer-left">
              <img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/y4j_logo_black.png" />
            </div>
            <div class="footer-left footer-left2">
              <div>개인정보 취급 방침 ㅣ 이용약관 ㅣ 고객센터/문의하기</div>
              <div>서울시 강남구 테헤란로 7길 7 ㅣ TEL. 02)123-4567 ㅣ FAX. 02)345-6789</div>
              <div class="footer-left2-div3">COPYRIGHT ⓒ Y4J ENTTERTAINMENT All RIGHTS RESERVED</div>
            </div>
            <div class="footer-right">
              <span>개인정보처리방침</span>
              <span>▼ 관련 사이트</span>
            </div>
          </div>
        </footer>
     </div>

 <!-- js 링크 -->
 <script src="/js/product_detail/productDetail_blackpink_page.js"></script>
 <script th:inline="javascript">
      var menu = JSON.parse('[[${uri}]]');
      //a태그
      $('a[href*=' + '[[${uri}]]' + ']').addClass("on");
	</script>
	
	<script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      });
    </script>

	
</html>