<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<!-- css -->
<link rel="stylesheet" href="/css/admin_order/album_detail.css">
<th:block th:replace="~{./layout/y4j_layout :: funcLayout(~{:: .fragment})}">
	<div class="fragment">
		<h3 class="album_title">앨범상세</h3>
		<div style="height:700px;">
			<form id="modifyAlbumForm" method="post">
				<input type="hidden" th:value="${vo.album_no}" name="album_no" />
				<table class="table table-sm regTable">
					<tbody>
						<tr>
							<th>
								<div class="th">앨범번호</div>
							</th>
							<td>[[${vo.album_no}]]</td>
						</tr>
						<tr>
							<th>
								<div class="th">카테고리</div>
							</th>
							<td>[[${vo.album_category}]]</td>
						</tr>
						<tr>
							<th>
								<div class="th">타이틀</div>
							</th>
							<td>[[${vo.album_title}]]</td>
						</tr>
						<tr>
							<th>
								<div class="th">아티스트</div>
							</th>
							<td>[[${vo.album_artist}]]</td>
						</tr>
						<tr>
							<th>
								<div class="th img_th">앨범이미지</div>
							</th>
							<td>
								<img th:src="${vo.album_img_path}" id="imgModify" />
								<div><input type="button" value="이미지 변경" id="fileBtn" />
									<input type="file" id="imgReg" onchange="readURL(this);" style="display:none;" />
									<input type="hidden" th:value="${vo.album_img_path}" name="album_img_path" />
								</div>
							</td>
						</tr>
						<tr>
							<th>
								<div class="th">앨범버전</div>
							</th>
							<td>[[${vo.album_version}]]</td>
						</tr>
						<tr>
							<th>
								<div class="th">발매일</div>
							</th>
							<td>[[${vo.album_release_date}]]</td>
						</tr>
						<tr>
							<th>
								<div class="th">앨범가격</div>
							</th>
							<td><input type="number" required="required" th:value="${vo.album_price}" name="album_price"
									oninput="handleInputLength(this, 8)" min="0"/>원</td>
						</tr>
						<tr>
							<th>
								<div class="th">할인율</div>
							</th>
							<td><input type="number" required="required" th:value="${vo.album_discount_rate}"
									name="album_discount_rate" oninput="handleInputLength(this, 2)" min="0" max="99" />%
							</td>
						</tr>
						<tr>
							<th>
								<div class="th">재고</div>
							</th>
							<td>
								<div><span>[[${vo.album_stock}]]개</span><span class="modify_notice_span">※해당 내용은 추가발주 시
										수정됩니다.</span></div>
							</td>
						</tr>
					</tbody>
				</table>
				<div>
					<input type="button" value="수정하기" id="album_modify_btn" class="btn_base"> <input type="button"
						value="목록" class="toList_btn btn_base">
				</div>
			</form>
		</div>
	</div>
</th:block>
<!-- js -->
<script src="/js/admin_order/album_detail.js"></script>

</html>