<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<!-- css -->
<link rel="stylesheet" href="/css/admin_order/product_detail.css">
<th:block th:replace="~{./layout/y4j_layout :: funcLayout(~{:: .fragment})}">
	<div class="fragment">
		<h3 class="prod_title">상품상세</h3>
		<div style="height:2000px;">
			<form id="modifyProductForm" method="post">
				<input type="hidden" th:value="${vo.prod_no}" name="prod_no" />
				<table class="table table-sm regTable">
					<tbody>
						<tr>
							<th>
								<div class="th">상품번호</div>
							</th>
							<td>[[${vo.prod_no}]]</td>
						</tr>
						<tr>
							<th>
								<div class="th">상품명</div>
							</th>
							<td>[[${vo.prod_name}]]</td>
						</tr>
						<tr>
							<th>
								<div class="th">카테고리</div>
							</th>
							<td>[[${vo.prod_category}]]</td>
						</tr>
						<tr>
							<th>
								<div class="th">엔터테이너</div>
							</th>
							<td>[[${vo.prod_artist}]]</td>
						</tr>
						<tr>
							<th>
								<div class="th img_th">상품이미지</div>
							</th>
							<td>
								<img th:src="${vo.prod_img_path}" id="imgModify" />
								<div>
									<input type="button" value="이미지 변경" id="fileBtn" />
									<input type="file" id="imgReg" onchange="readURL(this);" style="display:none;" />
									<input type="hidden" th:value="${vo.prod_img_path}" name="prod_img_path" />
								</div>
							</td>
						</tr>
						<tr>
							<th>
								<div class="th img_th">상세설명이미지</div>
							</th>
							<td>
								<img th:src="${vo.prod_info_img_path}" id="pdimgModify" />
								<div>
									<input type="button" value="이미지 변경" id="pdfileBtn" />
									<input type="file" id="pdimgReg" onchange="pdreadURL(this);"
										style="display:none;" />
									<input type="hidden" th:value="${vo.prod_info_img_path}"
										name="prod_info_img_path" />
								</div>
							</td>
						</tr>
						<tr>
							<th>
								<div class="th">상품타입</div>
							</th>
							<td>[[${vo.prod_type}]]</td>
						</tr>
						<tr>
							<th>
								<div class="th">상품사이즈</div>
							</th>
							<td>[[${vo.prod_sizetype}]]</td>
						</tr>
						<tr>
							<th>
								<div class="th">등록일</div>
							</th>
							<td>[[${vo.prod_regdate}]]</td>
						</tr>
						<tr>
							<th>
								<div class="th">상품가격</div>
							</th>
							<td><input type="number" required="required" th:value="${vo.prod_price}" name="prod_price"
									oninput="handleInputLength(this, 8)" min="0" />원</td>
						</tr>
						<tr>
							<th>
								<div class="th">할인율</div>
							</th>
							<td><input type="number" required="required" th:value="${vo.prod_discount_rate}"
									name="prod_discount_rate" oninput="handleInputLength(this, 2)" min="0" max="99" />%
							</td>
						</tr>
						<tr>
							<th>
								<div class="th">재고</div>
							</th>
							<td>
								<div><span>[[${vo.prod_stock}]]개</span><span class="modify_notice_span">※해당 내용은 추가발주 시
										수정됩니다.</span></div>
							</td>
						</tr>
					</tbody>
				</table>
				<div>
					<input type="button" value="수정하기" id="product_modify_btn" class="btn_base"> <input type="button"
						value="목록" class="toList_btn btn_base">
				</div>
			</form>
		</div>
	</div>
</th:block>
<!-- js -->
<script src="/js/admin_order/product_detail.js"></script>

</html>