<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<th:block th:fragment="funcLayout(content)">

  <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>y4j_layout</title>
	<!-- 스와이퍼 -->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
	<!-- jquery -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	
	<link rel="stylesheet" type="text/css" media="screen" href="../css/jquery.datetimepicker.min.css">
	<script src="../js/jquery.datetimepicker.full.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <!-- popper.js -->
  <script src="https://unpkg.com/@popperjs/core@2"></script>
	<!-- bootstrap -->
	<!-- css링크 -->
	<link rel="stylesheet" href="/css/bootstrapcss/bootstrap.min.css">
	<!-- 부트스트랩 테마가 필요하면 이쯤 추가 -->
	<!-- js링크 -->
  <script src="/js/bootstrapjs/bootstrap.min.js"></script>
  <!-- JS Verbal Expressions -->
  <script src="https://cdn.jsdelivr.net/npm/verbal-expressions@1.0.2/dist/verbalexpressions.min.js"></script>
	<!-- 폰트 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- 폰트 1 -->
  <link rel="stylesheet" href="/css/product_page/product_page.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <!-- 폰트 2 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@900&display=swap" rel="stylesheet">
  <!-- 폰트 3 - 나눔고딕 --> 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap">
	<!-- 개별 css -->
	<link rel="stylesheet" href="/css/y4j_layout.css">
  </head>

  <body>
    <div class="outer">

      <div class="header-outer">
        <header>
          <div class="header-top">
            <div class="menu-outer">
              <div class="main-header">
                <div class="main-header-contents">
                  <div class="main-header-inner main-header-inner1">
                    <a href="/admin/admin_home"><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/y4j_logo_black.png"></a>
                  </div>
                  <ul class="main-header-inner main-header-inner2">
                    <li class="header_middle_user">
                      <a href="/admin/admin_login">
                        <img data-bs-toggle="tooltip" data-bs-placement="bottom" title="LOGIN" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/loginPassword.png">
                        <!-- <span>LOGIN</span> -->
                      </a>
                    </li>
                    <li class="header_middle_user">
                      <a href="/admin/admin_join">
                        <img data-bs-toggle="tooltip" data-bs-placement="bottom" title="JOIN" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/loginJoin.png">
                        <!-- <span>JOIN</span> -->
                      </a>
                    </li>
                    <li class="header_middle_user">
                      <a href="/message">
                        <img data-bs-toggle="tooltip" data-bs-placement="bottom" title="MY PAGE" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/loginMember.png">
                        <!-- <span>MY PAGE</span> -->
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="header-bottom-outer">
                <div class="header-bottom">
                  <div class="header-bottom-inner">
                    <div class="menuTable-header">
                      <div class="menuTable-outer">
                        <div class="menu_bar">
                          <ul>
                            <li>
                              <span><a href="#">COMPANY</a></span>
                              <ul class="snb">
                                <li class="snbLi1"><span><a href="#">ABOUT Y4J</a></span></li>
                                <li><span><a href="#">HISTORY</a></span></li>
                                <li><span><a href="#">CONTACT</a></span></li>
                              </ul>
                            </li>
                            <li>
                              <span><a href="#">ENTERTAINER</a></span>
                              <ul class="snb">
                                <li class="snbLi1"><span><a href="#">NEWJEANS</a></span></li>
                                <li><span><a href="#">BLACKPINK</a></span></li>
                                <li><span><a href="#">IVE</a></span></li>
                                <li><span><a href="#">LEE DOHYUN</a></span></li>
                                <li><span><a href="#">CHAE SOOBIN</a></span></li>
                              </ul>
                            </li>
                            <li>
                              <span><a href="/product/productList">PRODUCTION</a></span>
                              <ul class="snb">
                                <li class="snbLi1"><span><a href="#">ALBUM</a></span></li>
                                <li><span><a href="#">GOODS</a></span></li>
                                <li><span><a href="#">MAGAZINE</a></span></li>
                                <li><span><a href="#">PICTURE CARD</a></span></li>
                              </ul>
                            </li>
                            <li>
                              <span><a href="#">AUDITION</a></span>
                              <ul class="snb">
                                <li class="snbLi1"><span><a href="/audition/audition_notice">AUDITION</a></span></li>
                              </ul>
                            </li>
                          </ul>
                          <img class="sticky-logo"
                            src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/y4j_logo_white.png" />
                        </div>
                      </div>
                      <!-- <div class="search_bar">
                        <div class="search_bar_inner1">
                          <input type="text" placeholder="Search">
                          <img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/icon_search.png"
                            style="width: 26px; height: 26px">
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>

      <aside>
        <div class="aside_wrap">
          <div class="aside_wrap_box">
            <!-- 여기 메인으로 가는 경로 다시 지정해야 함 -->
            <span style="color:rgba(251, 245, 245, 0.862);">"관리자 닉네임"님</span>
          </div>
            <div class="aside_menu_bar aside_menu_bar_1">
              <ul class="slide">
                <li style="margin-left: 36px; margin-right: 10px;"><img style="width: 23px; height: 23px" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/dashboardTab.png" /></li>
                <li style="margin-left: 23px; padding-bottom: 4px"><a href="#"><div>대시보드</div></a></li>
              </ul>
            </div>
            <div class="aside_menu_bar">
              <ul class="slide">
                <li style="margin-left: 35px; margin-right: 10px;"><img style="width: 27px; height: 27px" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/authorityTab.png"/></li>
                <li style="margin-left: 20px; padding-bottom: 4px"><span style="margin: 0;">권한 관리</span></li>
                <li id="slide_down_img"><img style=" width: 29px; height: 29px; margin-right: 0" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/arrowDown.png"/></li>
                <li id="slide_up_img"><img style="width: 12px; height: 12px; margin-right: 2px;" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/arrowUp.png"/></li>
              </ul>
              <ul class="aside_menu_bar_list">
                <li ><a href="/authority/admin_authority_list">권한 조회 및 수정</a></li>
                <li><a href="/authority/admin_authority_apply_list">권한 신청 목록</a></li>
              </ul> 
            </div>
            <div class="aside_menu_bar ">
              <ul class="slide mngBar3">
                <li style="margin-left: 35px; margin-right: 10px;"><img style="width: 27px; height: 27px" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/productTab.png"/></li>
                <li style="margin-left: 20px; padding-bottom: 4px"><span style="margin: 0;">상품 관리</span></li>
                <li id="slide_down_img"><img style=" width: 29px; height: 29px; margin-right: 0" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/arrowDown.png"/></li>
                <li id="slide_up_img"><img style="width: 12px; height: 12px; margin-right: 2px;" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/arrowUp.png"/></li>
              </ul>
              
              <ul class="aside_menu_bar_list_prod">
                <li><a href="/order/orderReg">상품 조회 및 수정</a></li>
                <li><a href="/order/orderList">상품 신청 목록</a></li>
                <li><a href="/order/categoryReg">카테고리 등록</a></li>
              </ul>
            </div>
            
            <div class="aside_menu_bar ">
              <ul class="slide">
                <li style="margin-left: 35px; margin-right: 10px;"><img style="width: 27px; height: 27px" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/scheduleTab.png"/></li>
                <!-- <a href="https://www.flaticon.com/kr/free-icons/" title="달력 아이콘">달력 아이콘  제작자: Freepik - Flaticon</a> -->
                <li style="margin-left: 20px; padding-bottom: 4px"><span style="margin: 0;">일정 관리</span></li>
                <li id="slide_down_img"><img style=" width: 29px; height: 29px; margin-right: 0" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/arrowDown.png"/></li>
                <li id="slide_up_img"><img style="width: 12px; height: 12px; margin-right: 2px;" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/arrowUp.png"/></li>
              </ul>
              <ul class="aside_menu_bar_list">
                <li><a href="/schedule/admin_scheduleReg">일정 등록</a></li>
                <li><a href="/schedule/admin_scheduleList">일정 목록</a></li>
              </ul>
            </div>
            
            <div class="aside_menu_bar ">
              <ul class="slide">
                <li style="margin-left: 35px; margin-right: 10px;"><img style="width: 28px; height: 28px" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/auditionTab.png"/></li>
                <!-- <a href="https://www.flaticon.com/kr/free-icons/-" title="소프트웨어 어플리케이션 아이콘">소프트웨어 어플리케이션 아이콘  제작자: NajmunNahar - Flaticon</a> -->
                <li style="margin-left: 20px; padding-bottom: 4px"><span style="margin: 0;">오디션 관리</span></li>
                <li id="slide_down_img"><img style=" width: 29px; height: 29px; margin-right: 7px" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/arrowDown.png"/></li>
                <li id="slide_up_img"><img style="width: 12px; height: 12px; margin-right: 9px;" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/arrowUp.png"/></li>
              </ul>
              <ul class="aside_menu_bar_list">
                <li><a href="/audition/admin_audition_list">오디션 신청 목록</a></li>
                <li><a href="/audition/admin_audition_register">오디션 결과 등록</a></li>
              </ul>
            </div>
          </div>
        </div>
      </aside>

      <!-- <aside>
        <div class="aside-wrap">
          <div class="aside-left">
            <img class="sideMenuBarBtn active" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/btn_menu.svg" />
          </div>
          <div class="aside=right">
            <div class="sideMenuBar">
              <div class="authorityMng mngBar">
                <div class="smt mngBar2">권한 관리</div>
                <ul class="sub_menu">
                  <li><a href="/authority/admin_authority_list">권한 조회 및 수정</a></li>
                  <li><a href="/authority/admin_authority_apply_list">권한 신청 목록</a></li>
                </ul>
              </div>
              <div class="productMng mngBar">
                <div class="smt mngBar3">상품 관리</div>
                <ul class="sub_menu">
                  <li><a href="/order/orderReg">상품 등록</a></li>
                  <li><a href="/order/orderList">상품 조회</a></li>
                  <li><a href="#">상품 발주</a></li>
                </ul>
              </div>
              <div class="scheduleMng mngBar">
                <div class="smt mngBar2">일정 관리</div>
                <ul class="sub_menu">
                  <li><a href="/schedule/admin_scheduleReg">일정 등록</a></li>
                  <li><a href="/schedule/admin_scheduleList">일정 목록</a></li>
                </ul>
              </div>
              <div class="auditionMng mngBar">
                <div class="smt mngBar2">오디션 관리</div>
                <ul class="sub_menu">
                  <li><a href="/audition/admin_audition_list">오디션 신청 목록</a></li>
                  <li><a href="/audition/admin_audition_register">오디션 결과 등록</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </aside> -->

      <div class="section-outer1">
        <div class="section-outer2">
          <section th:replace="${content}">

          </section>
        </div>
      </div>

      <div class="footer-outer">
        <footer>
          <div class="footer-inner">
            <div class="footer-left">
              <img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/y4j_logo_black.png" />
            </div>
            <div class="footer-left footer-left2">
              <div>개인정보 취급 방침 ⎮ 이용약관 ⎮ 고객센터/문의하기</div>
              <div>서울시 강남구 테헤란로 7길 7 ⎮ TEL. 02)123-4567 ⎮ FAX. 02)345-6789</div>
              <div class="footer-left2-div3">COPYRIGHT ⓒ Y4J ENTTERTAINMENT All RIGHTS RESERVED</div>
            </div>
            <div class="footer-right">
              <span>개인정보처리방침</span>
              <span>▼ 관련 사이트</span>
            </div>
          </div>
        </footer>
      </div>

    </div>
    <script src="/js/y4j_layout.js"></script>
    <script th:inline="javascript">
      var menu = JSON.parse('[[${uri}]]');

      //a태그
      $('a[href*=' + '[[${uri}]]' + ']').addClass("on");
      //.sub_menu -> li
      $('a[href*=' + '[[${uri}]]' + ']').parent().addClass("on");
      //.smt -> ul(.slide)
      $('a[href*=' + '[[${uri}]]' + ']').parent().parent().addClass("on");

      if($('a[href*=' + '[[${uri}]]' + ']').parent().parent().hasClass("mngBar3")) {

      } else {

      }

      // if ($('a[href*=' + '[[${uri}]]' + ']').closest(".sub_menu").prev().hasClass("mngBar3")) {
      //   $('a[href*=' + '[[${uri}]]' + ']').closest(".sub_menu").css("height", "90px");
      // } else {
      //   $('a[href*=' + '[[${uri}]]' + ']').closest(".sub_menu").css("height", "65px");
      // }

      $('.sideMenuTitle').html($('a[href*=' + '[[${uri}]]' + ']').parent().parent().parent().children(0).find("span").html());
      // console.log($('a[href*=' + '[[${uri}]]' + ']').parent().parent().parent().first().find("span").html());
      // console.log($('a[href*=' + '[[${uri}]]' + ']').parent().parent().html());
      $('.sideMenuContent').html($('a[href*=' + '[[${uri}]]' + ']').html());
    </script>
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      });
    </script>
  </body>

</th:block>
</html>