<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<th:block
	th:replace="~{/layout/y4j_layout :: funcLayout(~{:: .fragment})}">

	<div class="fragment">
		<div class="fragment-inner">

			<h2>admin_audition_list</h2>

			<!-- 부트스트랩 -->
			<section class="intro">
				<div class="bg-image h-100" style="background-color: #f5f7fa;">
					<div class="mask d-flex align-items-center h-100">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-12">
									<div class="card">
										<div class="card-body p-0">
											<div class="table-responsive table-scroll"
												data-mdb-perfect-scrollbar="true"
												style="position: relative; height: 300px">
												<table class="table table-striped mb-0 ">
													<thead style="background-color: #002d72; color: white;">
														<tr>
															<th scope="col">상태</th>
															<th scope="col">순서</th>
															<th scope="col">일정날짜</th>
															<th scope="col">타입</th>
															<th scope="col">장소</th>
															<th scope="col">제목</th>
															<th scope="col">아티스트 이름</th>
															<th scope="col">아티스트 그룹</th>
															<th scope="col">아티스트 타입</th>
															<th scope="col">관리자 ID</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>확인</td>
															<td>1</td>
															<td>2022-03-03</td>
															<td>TV</td>
															<td>여의도 KBS</td>
															<td>뮤직뱅크 음악방송</td>
															<td>하니</td>
															<td>NewJeans</td>
															<td>Musician</td>
															<td>admin</td>
														</tr>
														<tr>
															<td>확인</td>
															<td>1</td>
															<td>2022-03-03</td>
															<td>TV</td>
															<td>여의도 KBS</td>
															<td>뮤직뱅크 음악방송</td>
															<td>하니</td>
															<td>NewJeans</td>
															<td>Musician</td>
															<td>admin</td>
														</tr>
														<tr>
															<td>확인</td>
															<td>1</td>
															<td>2022-03-03</td>
															<td>TV</td>
															<td>여의도 KBS</td>
															<td>뮤직뱅크 음악방송</td>
															<td>하니</td>
															<td>NewJeans</td>
															<td>Musician</td>
															<td>admin</td>
														</tr>
														<tr>
															<td>확인</td>
															<td>1</td>
															<td>2022-03-03</td>
															<td>TV</td>
															<td>여의도 KBS</td>
															<td>뮤직뱅크 음악방송</td>
															<td>하니</td>
															<td>NewJeans</td>
															<td>Musician</td>
															<td>admin</td>
														</tr>
														<tr>
															<td>확인</td>
															<td>1</td>
															<td>2022-03-03</td>
															<td>TV</td>
															<td>여의도 KBS</td>
															<td>뮤직뱅크 음악방송</td>
															<td>하니</td>
															<td>NewJeans</td>
															<td>Musician</td>
															<td>admin</td>
														</tr>
														<tr>
															<td>확인</td>
															<td>1</td>
															<td>2022-03-03</td>
															<td>TV</td>
															<td>여의도 KBS</td>
															<td>뮤직뱅크 음악방송</td>
															<td>하니</td>
															<td>NewJeans</td>
															<td>Musician</td>
															<td>admin</td>
														</tr>
														<tr>
															<td>확인</td>
															<td>1</td>
															<td>2022-03-03</td>
															<td>TV</td>
															<td>여의도 KBS</td>
															<td>뮤직뱅크 음악방송</td>
															<td>하니</td>
															<td>NewJeans</td>
															<td>Musician</td>
															<td>admin</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- 부트스트랩 -->

			<section class="pagination_section">
				<div class="pagination">
					<ul class="pages">
						<li><a href="#" class="page_num"><svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-chevron-double-left size"
									viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
										d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                            <path fill-rule="evenodd"
										d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                        </svg></a></li>
						<li><a href="#" class="page_num"><svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-chevron-compact-left size"
									viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
										d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z" />
                        </svg></a></li>
						<li><a href="#" class="page_num">1</a></li>
						<li><a href="#" class="page_num">2</a></li>
						<li><a href="#" class="page_num">3</a></li>
						<li><a href="#" class="page_num">4</a></li>
						<li><a href="#" class="page_num">5</a></li>
						<li><a href="#" class="page_num"><svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-chevron-compact-right size"
									viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
										d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
                        </svg></a></li>
						<li><a href="#" class="page_num"><svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-chevron-double-right size"
									viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
										d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                            <path fill-rule="evenodd"
										d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg></a></li>
					</ul>
				</div>
			</section>

			<!-- Example single danger button -->
			<div class="btn-group">
				<button type="button" class="btn btn-primary">btn-primary</button>
				<button type="button"
					class="btn btn-primary dropdown-toggle dropdown-toggle-split"
					data-bs-toggle="dropdown" aria-expanded="false">
					<span class="visually-hidden">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">Action</a></li>
					<li><a class="dropdown-item" href="#">Another action</a></li>
					<li><a class="dropdown-item" href="#">Something else here</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="#">Separated link</a></li>
				</ul>
			</div>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-bs-toggle="modal"
				data-bs-target="#exampleModal">Launch demo modal</button>

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Modal
								title</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">...</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save
								changes</button>
						</div>
					</div>
				</div>
			</div>
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />

		</div>
	</div>
</th:block>
</html>