<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<link rel="stylesheet" href="/css/admin_audition_list.css">

<th:block
	th:replace="~{./layout/y4j_layout :: funcLayout(~{:: .fragment})}">

	<div class="fragment">
		<div class="fragment-inner">

			<form name="audApplyListSearchForm" action="admin_audition_list">
				<div class="aal-top">
					<div class="aal-top-left">
						<span class="aal-top-lefts sideMenuTitle">Main Menu</span>
						<span>></span>
						<span class="aal-top-lefts sideMenuContent">Sub Menu</span>
					</div>
					<div class="aal-top-right">
						<div class="dateSearch">
							<input type="text" id="datepicker_start" name="startDate" th:value="${pageVO.cri.startDate}" readonly>
							<span>~</span>
							<input type="text" id="datepicker_end" name="endDate" th:value="${pageVO.cri.endDate}" readonly>
						</div>
						<select name="searchType" class="searchType form-select form-select-sm" aria-label=".form-select-sm example">
							<option value="name" th:selected="${pageVO.cri.searchType} == 'name'">이름</option>
							<option value="type" th:selected="${pageVO.cri.searchType} == 'type'">타입</option>
							<option value="gender" th:selected="${pageVO.cri.searchType} == 'gender'">성별</option>
						</select>
						<input type="text" name="searchValue" class="searchValue" placeholder="검색 내용" th:value="${pageVO.cri.searchValue}" />
						<button class="btn btn-outline-dark" type="submit">검색</button>
						<button class="btn btn-outline-dark resetSearchBtn" type="button">초기화</button>
					</div>
				</div>
				<input type="hidden" name="pageNum" value="1" />
				<input type="hidden" name="amount" th:value="${pageVO.amount }" />
			</form>

			<div class="aal-content">
				<div class="aal-table-outer">
					<table class="table table-striped table-hover">
						<thead class="table-dark">
							<tr>
								<th scope="col">연번</th>
								<th scope="col">지원 번호</th>
								<th scope="col">지원 분야</th>
								<th scope="col">이름</th>
								<th scope="col">성별</th>
								<th scope="col">나이</th>
								<th scope="col">지원 날짜</th>
								<th scope="col">진행 상황</th>
								<th scope="col">세부 정보</th>
								<th scope="col">비고</th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							<form id="updateAudForm" action="passFirstStageForm" method="post">
								<tr th:each="vo, s : ${list}">
									<td>[[${pageVO.total - (pageVO.pageNum - 1) * pageVO.amount - s.count + 1}]]</td>
									<td>[[${vo.audition_cv_no}]]</td>
									<td>[[${vo.audition_cv_type}]]</td>
									<td>[[${vo.audition_cv_name}]]</td>
									<td>[[${vo.audition_cv_gender}]]</td>
									<td>[[${vo.audition_cv_age}]]</td>
									<td>[[${ #temporals.format(vo.audition_cv_regdate, 'yyyy-MM-dd') }]]</td>
									<td>[[${vo.audition_cv_progress}]]</td>
									<td>
										<button type="button" class="btn btn-outline-dark showModal" data-bs-toggle="modal" data-bs-target="#exampleModal">지원서 보기</button>
									</td>
									<td>
										<button type="button" class="passBtn btn btn-outline-primary" th:disabled="${vo.audition_cv_progress != '1차' ? 'true' : 'false'}" >합격</button>
										<button type="button" class="failBtn btn btn-outline-danger" th:disabled="${vo.audition_cv_progress != '1차' ? 'true' : 'false'}" >불합격</button>
									</td>
								</tr>
								<input type="hidden" id="audition_cv_no" name="audition_cv_no" />
							</form>
						</tbody>
					</table>
					
					<!-- Modal -->
					<form id="applicantResume" >
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="exampleModalLabel">지원자 세부 정보</h1>
										<button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body" style="width: 550px">
				
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-dark closeModal" data-bs-dismiss="modal">닫기</button>
									</div>
								</div>
							</div>
						</div>
					</form>

					<!-- pagination -->
					<div class="pagination-outer">
						<ul class="pagination" style="display: inline-flex">
							<li class="page-link">
								<a
									th:href="@{admin_audition_list(searchValue=${criteria.searchValue}, pageNum=1, amount=${pageVO.amount} ) }">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<th:block th:if="${pageVO.prev}">
								<li class="page-link">
									<a
										th:href="@{admin_audition_list(searchValue=${criteria.searchValue}, pageNum=${pageVO.startPage-1}, amount=${pageVO.amount} ) }">
										<span aria-hidden="true">&lsaquo;</span>
									</a>
								</li>
							</th:block>
							<th:block th:each="p, s : ${pageVO.pageList}">
								<li class="p-li" th:class="${pageVO.pageNum == p ? 'on' : ''}"><a class="page-link"
										th:href="@{admin_audition_list(searchValue=${criteria.searchValue}, pageNum=${p}, amount=${pageVO.amount} ) }">[[${p}]]</a>
								</li>
							</th:block>
							<th:block th:if="${pageVO.next}">
								<li class="page-link">
									<a
										th:href="@{admin_audition_list(searchValue=${criteria.searchValue}, pageNum=${pageVO.endPage+1}, amount=${pageVO.amount} ) }">
										<span aria-hidden="true">&rsaquo;</span>
									</a>
								</li>
							</th:block>
							<li class="page-link">
								<a
									th:href="@{admin_audition_list(searchValue=${criteria.searchValue}, pageNum=${pageVO.realEnd}, amount=${pageVO.amount} ) }">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</th:block>

<script th:inline="javascript">
	$(document).ready(function() {

		var msg = '[[${msg}]]';
		msg = msg.replace('"', '').replace('"', '');
		
		if(msg != null && msg != 'null') {
			alert(msg);
		}
	});
	</script>
<script src="/js/admin_audition_list.js"></script>
</html>