<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<link rel="stylesheet" href="/css/admin_authority_list.css">
<th:block th:replace="~{./layout/y4j_layout :: funcLayout(~{:: .fragment})}">

	<div class="fragment">
		<div class="fragment-inner">

			<form name="adminAuthSearchForm" action="admin_authority_list">
				<div class="aal-top">
					<div class="aal-top-left">
						<span class="aal-top-lefts sideMenuTitle">Main Menu</span>
						<span>></span>
						<span class="aal-top-lefts sideMenuContent">Sub Menu</span>
					</div>
					<div class="aal-top-right">
						<input type="text" name="searchValue" class="searchValue" placeholder="이름 검색" th:value="${pageVO.cri.searchValue}" />
						<button class="btn btn-outline-dark" type="submit">검색</button>
					</div>
				</div>
				<input type="hidden" name="pageNum" value="1" />
				<input type="hidden" name="amount" th:value="${pageVO.amount }" />
			</form>

			<div class="aal-content">
				<div class="aal-table-outer">
					<table class="table table-striped table-hover">
						<thead class="table-dark">
							<tr>
								<th scope="col">연번</th>
								<th scope="col">관리자 번호</th>
								<th scope="col">이름</th>
								<th scope="col">관리자 타입</th>
								<th scope="col">등록 날짜</th>
								<th scope="col">비고</th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							<tr th:each="vo, s : ${list}">
								<td>[[${pageVO.total - (pageVO.pageNum - 1) * pageVO.amount - s.count + 1}]]</td>
								<td>[[${vo.admin_no}]]</td>
								<td>[[${vo.admin_name}]]</td>
								<td>[[${vo.admin_type} + ${(vo.admin_type == "manager") ? " - " + vo.ent_name : "" } ]]</td>
								<td>[[${ #temporals.format(vo.admin_regdate, 'yyyy-MM-dd') }]]</td>
								<td><button type="button" class="btn btn-outline-dark showModal" data-bs-toggle="modal"
										data-bs-target="#exampleModal">세부 정보</button></td>
							</tr>
						</tbody>
					</table>

					<!-- Modal -->
					<form action="adminAuthUpdateForm" id="updateForm" class="adminUpdateForm" method="post" >
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="exampleModalLabel">관리자 세부 정보</h1>
										<button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body" style="width: 550px">
				
									</div>
									<div class="modal-footer">
										<button type="button" id="updateBtn" class="btn btn-outline-dark">수정</button>
										<button type="button" class="btn btn-secondary closeModal" data-bs-dismiss="modal">닫기</button>
									</div>
								</div>
							</div>
						</div>
					</form>

					<!-- pagination -->
					<div class="pagination-outer">
						<ul class="pagination" style="display: inline-flex">
							<li class="page-link">
								<a
									th:href="@{admin_authority_list(searchValue=${criteria.searchValue}, pageNum=1, amount=${pageVO.amount} ) }">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<th:block th:if="${pageVO.prev}">
								<li class="page-link">
									<a
										th:href="@{admin_authority_list(searchValue=${criteria.searchValue}, pageNum=${pageVO.startPage-1}, amount=${pageVO.amount} ) }">
										<span aria-hidden="true">&lsaquo;</span>
									</a>
								</li>
							</th:block>
							<th:block th:each="p, s : ${pageVO.pageList}">
								<li class="p-li" th:class="${pageVO.pageNum == p ? 'on' : ''}"><a class="page-link"
										th:href="@{admin_authority_list(searchValue=${criteria.searchValue}, pageNum=${p}, amount=${pageVO.amount} ) }">[[${p}]]</a>
								</li>
							</th:block>
							<th:block th:if="${pageVO.next}">
								<li class="page-link">
									<a
										th:href="@{admin_authority_list(searchValue=${criteria.searchValue}, pageNum=${pageVO.endPage+1}, amount=${pageVO.amount} ) }">
										<span aria-hidden="true">&rsaquo;</span>
									</a>
								</li>
							</th:block>
							<li class="page-link">
								<a
									th:href="@{admin_authority_list(searchValue=${criteria.searchValue}, pageNum=${pageVO.realEnd}, amount=${pageVO.amount} ) }">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>

</th:block>
<script th:inline="javascript">
	var msg = JSON.parse('[[${msg}]]');
	if(msg != null) {
		alert(msg);
	};
	</script>
<script src="/js/admin_authority_list.js"></script>


</html>