<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/cart.css">

    <!-- 상단, 하단 버튼 jQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

    <script>
        $(function () {
            $(".top_btn").click(function () {
                $('html, body').animate({
                    scrollTop: 0
                }, 400);
                return false;
            });


            $(".bottom_btn").click(function () {
                $('html, body').animate({
                    scrollTop: document.body.scrollHeight
                }, 400);
                return false;
            });

        });
    </script>
</head>

<body>
    <!-- 헤더 -->
    <header style="font-size: 50px; font-weight: bold;">
        Y4J 헤더
    </header>

    <div class="cart_section">
        <div class="cart_box">
            <!-- 장바구니 헤더 -->
            <div class="cart_header">
                <em>Cart</em>

            </div>
            <div class="cart_innerbox">

                <!-- 장바구니 양식 제목 -->
                <div class="cart_content_title">
                    <div style="display: flex; justify-content: space-around;">
                        <input type="checkbox" class="check_btn" style="margin-left: -5px;">
                        <span class="title_code" style="margin-left: -55px;">상품번호</span>
                        <span class="title_img" style="margin-left: -10px;">이미지</span>
                        <span class="title_info" style="margin-left: 0px;">상품정보</span>
                        <span class="title_quantity" style="margin-left: 80px;">수량</span>
                        <span class="title_price">상품구매금액</span>
                        <span class="title_fee">배송비</span>
                        <span class="title_select" style="margin-left: -15px;">선택</span>
                    </div>
                </div>

                <!-- 장바구니에 넣은 상품들 정보 -->
                <div class="cart_content_box" style=" margin: 0 auto;">

                    <div class="cart_content_innerbox "
                        style=" display: flex; justify-content: space-around; height: inherit;">
                        <!-- 개별 상품 체크박스 -->
                        <div class="product_check left" style="margin-left: 10px;">
                            <input type="checkbox" name="check" class="check" style="height: 18.4px;">
                        </div>

                        <!-- 상품 번호 -->
                        <div class="product_code left">
                            <input type="text" value="201312061" readonly>
                        </div>

                        <!-- 상품 이미지 -->
                        <div class="product_img left">
                            <img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/mudo1.png" alt="박명수짤" style="width: 100px; height: 100px;">
                        </div>

                        <!-- 상품 정보 -->
                        <div class="product_info left">
                            <div>
                                <a href="product.html">
                                    <em>[연예인명] 상품 종류</em><br />
                                    Ayan T-SHIRTS
                                </a>
                            </div>

                        </div>

                        <!-- 상품 수량 -->
                        <div class="product_quantity left">
                            <a href="#" class="quantity_subtract"><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/minus.png" alt="빼기"
                                    style="width: 13px; height: 13px; vertical-align: middle;"></a>
                            <input type="text" readonly value="100" size="3">
                            <a href="#" class="quantity_add"><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/plus.png" alt="더하기"
                                    style="width: 13.5px; height: 13px; vertical-align: middle"> </a>
                        </div>

                        <!-- 상품 수량 별 가격 -->
                        <div class="product_price left">
                            <div class="product_price_inner">
                                <em style="color: crimson; font-weight: 600;">10%</em>
                                <input type="text" value="10,000원" readonly>
                            </div>
                        </div>

                        <!-- 배송비 -->
                        <div class="delivery_fee left">
                            <p style="font-size: 14.5px;">무료</p>
                        </div>

                        <!-- 주문 및 삭제 버튼 -->
                        <div class="decision_btn select_btn left">
                            <div>
                                <a href="order_details.html" class="applicable_order_btn">주문하기</a><br />
                                <a href="cart.html" class="delete_btn"><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/delete.png" alt="휴지통아이콘"
                                        style="width: 19px; height: 19px; vertical-align:text-top;">삭제</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 장바구니에 넣은 상품들 정보 -->
                <div class="cart_content_box" style=" margin: 0 auto;">

                    <div class="cart_content_innerbox "
                        style=" display: flex; justify-content: space-around; height: inherit;">
                        <!-- 개별 상품 체크박스 -->
                        <div class="product_check left" style="margin-left: 10px;">
                            <input type="checkbox" name="check" class="check" style="height: 18.4px;">
                        </div>

                        <!-- 상품 번호 -->
                        <div class="product_code left">
                            <input type="text" value="201312061" readonly>
                        </div>

                        <!-- 상품 이미지 -->
                        <div class="product_img left">
                            <img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/mudo1.png" alt="박명수짤" style="width: 100px; height: 100px;">
                        </div>

                        <!-- 상품 정보 -->
                        <div class="product_info left">
                            <div>
                                <a href="product.html">
                                    <em>[연예인명] 상품 종류</em><br />
                                    Ayan T-SHIRTS
                                </a>
                            </div>

                        </div>

                        <!-- 상품 수량 -->
                        <div class="product_quantity left">
                            <a href="#" class="quantity_subtract"><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/minus.png" alt="빼기"
                                    style="width: 13px; height: 13px; vertical-align: middle;"></a>
                            <input type="text" readonly value="100" size="3">
                            <a href="#" class="quantity_add"><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/plus.png" alt="더하기"
                                    style="width: 13.5px; height: 13px; vertical-align: middle"> </a>
                        </div>

                        <!-- 상품 수량 별 가격 -->
                        <div class="product_price left">
                            <div class="product_price_inner">
                                <em style="color: crimson; font-weight: 600;">10%</em>
                                <input type="text" value="10,000원" readonly>
                            </div>
                        </div>

                        <!-- 배송비 -->
                        <div class="delivery_fee left">
                            <p style="font-size: 14.5px;">무료</p>
                        </div>

                        <!-- 주문 및 삭제 버튼 -->
                        <div class="decision_btn select_btn left">
                            <div>
                                <a href="order_details.html" class="applicable_order_btn">주문하기</a><br />
                                <a href="cart.html" class="delete_btn"><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/delete.png" alt="휴지통아이콘"
                                        style="width: 19px; height: 19px; vertical-align:text-top;">삭제</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 장바구니에 넣은 상품들 정보 -->
                <div class="cart_content_box" style=" margin: 0 auto;">

                    <div class="cart_content_innerbox "
                        style=" display: flex; justify-content: space-around; height: inherit;">
                        <!-- 개별 상품 체크박스 -->
                        <div class="product_check left" style="margin-left: 10px;">
                            <input type="checkbox" name="check" class="check" style="height: 18.4px;">
                        </div>

                        <!-- 상품 번호 -->
                        <div class="product_code left">
                            <input type="text" value="201312061" readonly>
                        </div>

                        <!-- 상품 이미지 -->
                        <div class="product_img left">
                            <img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/mudo1.png" alt="박명수짤" style="width: 100px; height: 100px;">
                        </div>

                        <!-- 상품 정보 -->
                        <div class="product_info left">
                            <div>
                                <a href="product.html">
                                    <em>[연예인명] 상품 종류</em><br />
                                    Ayan T-SHIRTS
                                </a>
                            </div>

                        </div>

                        <!-- 상품 수량 -->
                        <div class="product_quantity left">
                            <a href="#" class="quantity_subtract"><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/minus.png" alt="빼기"
                                    style="width: 13px; height: 13px; vertical-align: middle;"></a>
                            <input type="text" readonly value="100" size="3">
                            <a href="#" class="quantity_add"><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/plus.png" alt="더하기"
                                    style="width: 13.5px; height: 13px; vertical-align: middle"> </a>
                        </div>

                        <!-- 상품 수량 별 가격 -->
                        <div class="product_price left">
                            <div class="product_price_inner">
                                <em style="color: crimson; font-weight: 600;">10%</em>
                                <input type="text" value="10,000원" readonly>
                            </div>
                        </div>

                        <!-- 배송비 -->
                        <div class="delivery_fee left">
                            <p style="font-size: 14.5px;">무료</p>
                        </div>

                        <!-- 주문 및 삭제 버튼 -->
                        <div class="decision_btn select_btn left">
                            <div>
                                <a href="order_details.html" class="applicable_order_btn">주문하기</a><br />
                                <a href="cart.html" class="delete_btn"><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/delete.png" alt="휴지통아이콘"
                                        style="width: 19px; height: 19px; vertical-align:text-top;">삭제</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 선택 상품 삭제 버튼 -->
                <div class="checked_delete">
                    <div>
                        <a href="cart.html">선택상품 삭제</a>
                        <span class="mid_confirm_price right">상품구매금액 1,000,000 + 배송비 0 = 합계 : 1,000,000원</span>
                    </div>
                </div>


                <!-- 총 결제 금액 -->
                <div class="price_box">
                    <div class="price_innerbox">
                        <span>총 상품 금액</span>
                        <span>배송비</span>
                        <span>결제 예정 금액</span>
                    </div>
                    <div class="total_price_box">
                        <div class="total_price_innerbox">
                            <span>1,000,000원</span>
                            <span>+</span>
                            <span>0원</span>
                            <span>=</span>
                            <span style="color: rgb(221, 64, 64);">1,000,000원</span>
                        </div>

                    </div>
                </div>

                <!-- 최종 상품 주문 -->
                <div class="finally_order">
                    <div class="order_btnbox">
                        <a href="#">쇼핑 계속하기</a>
                        <a href="order_details.html">선택상품 주문하기</a>
                    </div>
                </div>

            </div>

        </div>

        <!-- 상단, 하단으로 가는 버튼 -->
        <div class="arrow_btn">
            <a href="#" class="top_btn">
                <img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/go_to_top.png" alt="상단버튼">
            </a><br />
            <a href="#" class="bottom_btn">
                <img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/go_to_bottom.png" alt="하단버튼">
            </a>
        </div>



    </div>
    </div>

    <footer>
        Footer 부분
    </footer>
</body>

</html>