<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/mypage.css">
</head>

<body>
    <header>
        <h3>Y4J</h3>
    </header>

    <div class="mypage_section">
        <div class="mypage_box">
            <div class="mypage_innerbox">

                <!-- mypage 제목 -->
                <div class="mypage_title">
                    <h3><em>My Page</em></h3>
                </div>

                <!-- 회원의 간단한 정보 -->
                <div class="user_simple_data">
                    <div class="user_fav_ent_profile ">
                        <img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/guesung.png" alt="좋아하는연예인">
                    </div>
                    
                    <div class="user_grade">
                        <h3>회원님, 반갑습니다 </h3><strong>[일반 회원]</strong>
                        <p>현재 <조규성>의 팬입니다</p>
                    </div>

                </div>

                <!-- 페이지 연결 -->
                <div class="connect_page">
                    <div class="connect_page_content">

                        <!-- 회원정보 수정 -->
                        <div class="content_box">
                            <img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/user_info.png" alt="회원정보" >

                            <a href="/user/user_info_edit" class="content_title">
                                <h3>My Info</h3>
                                회원정보 수정
                            </a><br /><br />
                            <a href="/user/user_info_edit" class="content_detail">회원님의 개인정보를 <br/>
                                관리하는 공간입니다.</a>
                        </div>

                        <!-- 배송주소록 관리 -->
                        <div class="content_box">
                            <img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/delievery_address.png" alt="배송지">

                            <a href="#" class="content_title">
                                <h3>Delivery Address</h3>
                                배송 주소록 관리
                            </a><br /><br />
                            <a href="#" class="content_detail">자주 사용하는 배송지를 등록하고<br/>
                                관리하실 수 있습니다.</a>
                        </div>

                        <!-- 결제내역 조회 -->
                        <div class="content_box">
                            <img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/order_list.png" alt="결제내역조회">

                            <a href="/user/order_list" class="content_title">
                                <h3>Order List</h3>
                                주문내역 조회
                            </a><br /><br />
                            <a href="/user/order_list" class="content_detail">주문하신 상품의 <br />
                                주문내역을 확인하실 수 있습니다.</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <footer>
        <h3>footer입니다</h3>
    </footer>
</body>

</html>