<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/order_details.css">
</head>
<body>
    
    <heaer>
        <h3>Y4J</h3>
    </heaer>

    <div class="order_details_section">
        <div class="order_details_box">
            <div class="order_details_innerbox">
                <h2>주문 내역</h2>
            </div>
        </div>
    </div>

    <footer>
        <h3>footer입니다</h3>
    </footer>
</body>
</html>