<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



    <!-- 기간 조회하는 date-picker -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- 상단, 하단 버튼 jQuery -->
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> -->

    <script>
        $(function () {
            $(".top_btn").click(function () {
                $('html, body').animate({
                    scrollTop: 0
                }, 400);
                return false;
            });

            $(".bottom_btn").click(function () {
                $('html, body').animate({
                    scrollTop: document.body.scrollHeight
                }, 400);
                return false;
            });
        });
    </script>

    
<!-- css -->
<link rel="stylesheet" href="/css/order_list.css">	
</head>

<th:block th:replace="~{./layout/user_layout :: function(~{:: .fragment})}">
   

<div class="fragment" style="margin-top: 110px;">

    <div class="order_list_section">
        <div class="order_list_box">

            <!-- 주문 내역 조회 헤더 -->
            <div class="order_list_header" style="padding: 40px; text-align: center; font-size: 24px;">
                <h2><span style="font-family: 'Alkatra', cursive;">Order List</span></h2>
            </div>
            
            <div class="order_list_innerbox">

             <!-- 조회할 기간 설정 부분 -->
             <div class="period_setting_box">
                 <div class="date_picker" >
                     <h4>조회기간</h4>
                     <div class="select_period_btn">
                        <form action="user_orderList" method="get" ><!-- 데이트 피커 조회를 위한 폼 태그  -->
                          <div> 	
                              <div class="choose_period">
                         		<input id="date_search_btn" name="searchName" type="hidden" value="">  	
                                  <button class="today_btn">오늘</button>
                                  <button class="1week_btn">1주일</button>
                                  <button class="1month_btn">1개월</button>
                                  <button class="3months_btn">3개월</button>
                              </div>
                              <!-- 달력 아이콘 -->
                              <div class="calendar_open">
                                  <input type="text"  id="start_date"  th:value="${cri.startDate}" name ="startDate" class="start_date" style="text-align: center; height: 20px; border: none; border-bottom: 0.5px solid #b8b6b6; font-size: 14px;" > -
                                  <input type="text"  id="end_date" th:value="${cri.endDate}"  name="endDate" class="end_date" style="text-align: center; height: 20px; border: none; border-bottom: 0.5px solid #b8b6b6;">
  
                                  <input type="submit" value="조회" class="check_btn">
                              </div>
                          </div>
                         </form>

                         <!-- 조회 부가 설명 -->
                         <div class="setting_info">
                             <div >
                                 <p><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/check.png" alt="체크아이콘" style="width: 10px; height: 25px; vertical-align: middle;"> 기간 검색 시 최대 금일 날짜 이후로는 검색이 불가합니다.</p>
                                 <p><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/check.png" alt="체크아이콘" style="width: 10px; height: 25px; vertical-align: middle;"> [주문번호] 및 [상품정보]을 클릭하시면 주문상세 내역을 조회하실 수 있습니다.</p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>

               <!-- 결제 상품 조회 -->
               <div class="past_order_list">
                   <h3 style="padding: 10px; border-bottom: 2px solid #333; font-size: 20px;">주문 내역 조회</h3>
                   <div class="past_order_inner">
                       <div class="past_order_title">
                           <span style="font-weight: 800;">주문일자</span>
                           <span style="font-weight: 800; width: 110px">주문번호</span>
                           <span style="width: 210px; font-weight: 800; padding-left: 16px">상품정보</span>
                           <span style="font-weight: 800; padding-left: 16px">총 결제금액</span>
                           <span style="font-weight: 800;">주문상태</span>
                       </div>

                       <div class="order_list_content" th:each="user_orderList:${user_orderList}">
                           <!-- 주문일자 -->
                           <div class="order_date">
                               <span><input type="text" th:value=" ${user_orderList.order_date}" readonly></span>
                           </div>

                           <!-- 주문번호 -->
                           <div class="order_num">
                               <a th:href="@{/product/user_order_details(order_prod_no=${user_orderList.order_prod_no})}"><input type="text" th:value=" ${user_orderList.order_prod_no}" style=" cursor: pointer; width: 110px" readonly> </a>
                           </div>

                           <!-- 상품정보 -->
                           <div class="product_info">
                               <a th:href="@{/product/user_order_details(order_prod_no=${user_orderList.order_prod_no})}"><input type="text" th:value="${user_orderList.order_prod_name}" style=" width: 250px; cursor: pointer;  text-overflow: ellipsis;" ></a>
                           </div>

                           <!-- 총 결제금액 -->
                           <div class="total_price" th:with="result = ${user_orderList.order_total_price}">
                               <input type="text" th:value="${#numbers.formatInteger(result, 3, 'COMMA')}+'원'"  readonly>
                           </div>

                           <!-- 주문상태 -->
                           <div class="order_state">
                               <p >[[${user_orderList.order_state}]]</p>
                           </div>
                       </div>

                       <!-- 페이지네이션 부트스트랩 -->
                       <nav aria-label="Page navigation example"  >
                           <ul class="pagination paging">
                             <li class="page-item">
                               <a class="page-link" style="border:none" th:href="@{user_orderList(pageNum=1, 
                               												  amount=${pageVO.amount})}" 
                               												  aria-label="Previous">
                                 <span aria-hidden="true">&laquo;</span>
                               </a>
                             </li>
                             
                             <th:block th:each="pageNum:${pageVO.pageList}">
                             <li class="page-item"><a class="page-link" style="border:none" th:href="@{user_orderList(pageNum=${pageNum}, 
                               												  amount=${pageVO.amount})}">[[${pageNum}]]</a></li>
                            </th:block>
                            
                             <li class="page-item">
                               <a class="page-link" style="border:none" th:href="@{user_orderList(pageNum=${pageVO.realEnd}, 
                               												  amount=${pageVO.amount})}" aria-label="Next">
                                 <span aria-hidden="true">&raquo;</span>
                               </a>
                             </li>
                           </ul>
                         </nav>
                  			 </div>
               			</div>
          			 </div>
           		<div>	
           </div>
       </div>
   </div>


</div>
 
</th:block>



<script th:inline="javascript">
	var msg = JSON.parse('[[${msg}]]');

	if (msg != null) {
		alert(msg);
	}
  </script>

 <!-- js 링크 -->
<script src="/js/product_detail/order_list.js"></script>

</html>