<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>

<!-- css -->
<link rel="stylesheet" href="../css/admin_scheduleList.css" type="text/css" />
<!-- pagination js -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<!-- swiper js -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


<th:block th:replace="~{/layout/y4j_layout :: funcLayout(~{:: .fragment})}">

	<div class="fragment">
		<form name="" action="" method="" enctype=""> <!-- name, action 달아주기 -->
		
		<!-- topside search menu -->
		<div>
			<div class="search_wrap">
				<div class="search_left">
					<h1>Schedule</h1>
				</div>
				
				
				<!-- 
					검색폼 에서는 키워드, page, amount 데이터 넘김
					히든 태그 만들기
				-->
					
				
				<div class="search_right">

					<div class="left_wrap">
						<div class="title_search">
							<input type="text" name="schedule_ent_name" class="form-control" value="" placeholder="일정 제목을 검색하세요" />
							<input type="submit" class="btn btn-default search_btn" value="검색"/>
						</div>
						<div class="today_count">
							<span>오늘 일정 </span>
							<span class="count" name="">10건</span>
						</div>
					</div>

					<!-- 캘린더 -->
					<div class="calendar">
						<div class="container">
							<div class="my-calendar clearfix">
								<div class="clicked-date">
									<div class="cal-day" hidden></div>
									<div class="cal-date" hidden></div>
								</div>
								<div class="calendar-box">
									<div class="ctr-box clearfix">
										<button type="button" title="prev" class="btn-cal prev">
										</button>
										<span class="cal-month"></span>
										<span class="cal-year"></span>
										<button type="button" title="next" class="btn-cal next">
										</button>
									</div>
									<table class="cal-table">
										<thead>
											<tr>
												<th>S</th>
												<th>M</th>
												<th>T</th>
												<th>W</th>
												<th>T</th>
												<th>F</th>
												<th>S</th>
											</tr>
										</thead>
										<tbody class="cal-body"></tbody>
									</table>
								</div>
							</div>
							<!-- // .my-calendar -->
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- swiper -->
		<swiper-container class="mySwiper container_block" slides-per-view="6" space-between="10" pagination="true"
			pagination-type="none" navigation="true">
			<swiper-slide><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/m1.jpg" alt="블랙핑크" class="img-box"></swiper-slide>
			<swiper-slide><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/m2.jpg" alt="뉴진스" class="img-box"></swiper-slide>
			<swiper-slide><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/m4.jpg" alt="아이브" class="img-box"></swiper-slide>
			<swiper-slide><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/a1.jpg" alt="장기용" class="img-box"></swiper-slide>
			<swiper-slide><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/a2.jpg" alt="채수빈" class="img-box"></swiper-slide>
			<swiper-slide><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/a1.jpg" alt="장기용" class="img-box"></swiper-slide>
			<swiper-slide><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/a2.jpg" alt="채수빈" class="img-box"></swiper-slide>
			<swiper-slide><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/a1.jpg" alt="장기용" class="img-box"></swiper-slide>
		</swiper-container>


		<div class="table_wrap">
			<div class="table_title">
				<h3>일정 관리</h3>
			</div>
			<div class="table_right">
				<a class="btn btn-default write_btn" href="/schedule/admin_scheduleReg">작성하기</a>
			</div>
		</div>

		<div>
			<ul>
				<li>
					<!-- table 부트스트랩 -->
					<section class="intro">
						<div class="bg-image h-100">
							<div class="mask d-flex align-items-center h-100 table_color">
								<div class="container">
									<div class="row justify-content-center">
										<div class="col-12 card2">
											<div class="card table_line">
												<div class="card-body p-0">
													<div class="table-responsive table-scroll table_corner"
														data-mdb-perfect-scrollbar="true" style="position: relative;">
														<table class="table table-striped mb-0">
															<thead style="background-color: #3f3f3f; color: white;">
																<tr>
																	<!-- <th scope="col">상태</th> -->
																	<th scope="col">순서</th>
																	<th scope="col">날짜</th>
																	<th scope="col">날짜</th>
																	<th scope="col">타입</th>
																	<th scope="col">장소</th>
																	<th scope="col" style="width: 39px;">제목</th>
																	<th scope="col">아티스트</th>
																	<th scope="col">관리자 ID</th>
																</tr>
															</thead>
															<tbody>
																<!-- 게시글 반복 -->
																<tr th:each="vo, status : ${list}">
																	<!-- <td>확인</td> -->
																	<td>[[${vo.schedule_no}]]</td>
																	<td>[[${vo.schedule_start_time}]]</td>
																	<td>[[${vo.schedule_end_time}]]</td>
																	<td>[[${vo.schedule_type}]]</td>
																	<td style='max-width:105px; overflow:hidden; text-overflow:ellipsis;'>[[${vo.schedule_location}]]</td>
																	<td class="schedule_ent_name" style='cursor:pointer'>
																		<a th:href="@{/schedule/admin_scheduleDetail(schedule_no=${vo.schedule_no})}">[[${vo.schedule_ent_name}]]</a>
																	</td>
																	<td>[[${vo.ent_name}]]</td>
																	<td style="max-width: 101px;">[[${vo.schedule_writer}]]</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- table 부트스트랩 끝-->
				</li>
			</ul>
		</div>


		<!-- pagination -->
		<section class="pagination_section">
			<div class="pagination">
				<ul class="pages">
					<li><a href="#" class="page_num"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="currentColor" class="bi bi-chevron-double-left pointer_location" viewBox="0 0 16 16">
								<path fill-rule="evenodd"
									d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
								<path fill-rule="evenodd"
									d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
							</svg></a></li>
					<li><a href="#" class="page_num"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="currentColor" class="bi bi-chevron-compact-left pointer_location" viewBox="0 0 16 16">
								<path fill-rule="evenodd"
									d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z" />
							</svg></a></li>
					<li><a href="#" class="page_num">1</a></li>
					<li><a href="#" class="page_num">2</a></li>
					<li><a href="#" class="page_num">3</a></li>
					<li><a href="#" class="page_num">4</a></li>
					<li><a href="#" class="page_num">5</a></li>
					<li><a href="#" class="page_num"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="currentColor" class="bi bi-chevron-compact-right pointer_location" viewBox="0 0 16 16">
								<path fill-rule="evenodd"
									d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
							</svg></a></li>
					<li><a href="#" class="page_num"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="currentColor" class="bi bi-chevron-double-right pointer_location" viewBox="0 0 16 16">
								<path fill-rule="evenodd"
									d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
								<path fill-rule="evenodd"
									d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
							</svg></a></li>
				</ul>
			</div>
		</section>
		
			</form>
		</div>

	</th:block>
<script src="/js/admin_scheduleList.js"></script>

</html>
