<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>

<!-- css -->
<link rel="stylesheet" href="../css/admin_scheduleDetail.css" type="text/css" />

<th:block th:replace="~{/layout/y4j_layout :: funcLayout(~{:: .fragment})}">
	
	<div class="fragment">
		
		<div class="table_wrap">
			<div class="title">일정 상세보기</div>
			<form name="#" action="#" method="post" enctype="multipart/form-data">
				<div>
					<ul>
						<li>
							<table class="table_inner">
								<tbody>
									<tr>
										<th>일정 날짜</th>
										<td class="schedule_calendar">
											2023/01/01 <sapn>11:00</sapn> ~ 2023/01/01 <sapn>13:00</sapn>
										</td>
									</tr>
									<tr>
										<th>관리자 ID</th>
										<td>
											admin
										</td>
									</tr>
									<tr>
										<th>타입</th>
										<td>
											Magazine
										</td>
									</tr>
									<tr>
										<th>제목</th>
										<td>
											오늘의 일정은?
										</td>
									</tr>
									<tr>
										<th>아티스트 타입</th>
										<td>
											musician
										</td>
									</tr>
									<tr>
										<th>아티스트</th>
										<td>
											아티스트 이름 쓰기
										</td>
									</tr>
									<tr>
										<th>장소</th>
										<td>
											mbc
										</td>
									</tr>
									<tr>
										<th>세부내용</th>
										<td>
											<div class="content">
												내용씅자ㅏ자~~
											</div>
										</td>
									</tr>
								</tbody>
							</table>

							<div class="btn_wrap">
                                <a href="#수정페이지로post방식" class="btn btn-default custom_btn">수정</a>
                                <a href="#" class="btn btn-default custom_btn" onclick="">삭제</a>
								<a href="admin_scheduleList" class="btn btn-default custom_btn">목록</a>
							</div>

						</li>
					</ul>

				</div>
			</form>
		</div>
		
	</div>

</th:block>

<!-- js -->
<script src="/js/admin_scheduleDetail.js"></script>

</html>