<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>

<!-- css -->
<link rel="stylesheet" href="../css/admin_scheduleList.css" type="text/css" />
<!-- pagination js -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<!-- swiper js -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


<th:block th:replace="~{./layout/y4j_layout :: funcLayout(~{:: .fragment})}">

	<div class="fragment">
		<form id="searchForm" action="admin_scheduleList" method="get"> <!-- name, action 달아주기 -->

			<input type="hidden" name="page" th:value="1" />
			<input type="hidden" name="amount" th:value="${pageVO.amount}" />
			<input type="hidden" name="startDate" id="clickDate" value=""/>

			<!-- topside search menu -->
			<div>
				<div class="search_wrap">
					<div class="search_left">
						<h1>Schedule</h1>
					</div>

					<!-- 
					검색폼 에서는 키워드, page, amount 데이터 넘김
					히든 태그 만들기
					-->

					<div class="search_right">

						<div class="left_wrap">
							<div class="today_count">
								<span>오늘 일정 </span>
								<span class="count">[[${todayCnt}]]건</span>
							</div>
							<div class="title_search">
								<input type="text" name="searchContent" class="form-control" th:value="${pageVO.cri.searchContent}"
									placeholder="일정 제목을 검색하세요" />
								<input type="submit" class="btn btn-default search_btn" value="검색" />
							</div>
						</div>

						<!-- my-calendar 시작 -->
						<div class="calendar">
							<div class="container">
								<div class="my-calendar clearfix">
									<div class="clicked-date">
										<div class="cal-day" hidden></div>
										<div class="cal-date" hidden></div>
									</div>
									<div class="calendar-box">
										<div class="ctr-box clearfix">
											<button type="button" title="prev" class="btn-cal prev">
											</button>
											<span class="cal-month"></span>
											<span class="cal-year"></span>
											<button type="button" title="next" class="btn-cal next">
											</button>
										</div>
										<table class="cal-table">
											<thead>
												<tr>
													<th>S</th>
													<th>M</th>
													<th>T</th>
													<th>W</th>
													<th>T</th>
													<th>F</th>
													<th>S</th>
												</tr>
											</thead>
											<tbody class="cal-body">
											
											</tbody>
										</table>
									</div>
								</div>
								<!-- my-calendar 끝 -->
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- swiper -->
			<swiper-container class="mySwiper container_block" slides-per-view="4" space-between="120" pagination="true" pagination-type="none" navigation="true">
				<input type="hidden" name="searchName" id="clickImg" value=""/>
				<swiper-slide>
					<div class="content">
						<div class="content-overlay"></div>
						<img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/schedule_bp.jpg" alt="블랙핑크" value="Blackpink" class="content-image">
						<div class="content-details">
							<h5>블랙핑크</h5>
						</div>
					</div>
				</swiper-slide>
				<swiper-slide>
					<div class="content">
						<div class="content-overlay"></div>
						<img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/schedule_nj.jpg" alt="뉴진스" value="NewJeans" class="content-image">
						<div class="content-details">
							<h5>뉴진스</h5>
						</div>
					</div>
				</swiper-slide>
				<swiper-slide>
					<div class="content">
						<div class="content-overlay"></div>
						<img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/schedule_ive.jpg" alt="아이브" value="Ive" class="content-image">
						<div class="content-details">
							<h5>아이브</h5>
						</div>
					</div>
				</swiper-slide>
				<swiper-slide>
					<div class="content act">
						<div class="content-overlay"></div>
						<img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/schedule_actor2.png" alt="이도현" value="이도현" class="content-image">
						<div class="content-details">
							<h5>이도현</h5>
						</div>
					</div>
				</swiper-slide>
				<swiper-slide>
					<div class="content act">
						<div class="content-overlay"></div>
						<img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/schedule_actor.png" alt="채수빈" value="채수빈" class="content-image">
						<div class="content-details">
							<h5>채수빈</h5>
						</div>
					</div>
				</swiper-slide>
			</swiper-container>


			<div class="table_wrap">
				<div class="table_title">
					<h3>일정 관리</h3>
				</div>
				<div class="table_right">
					<a class="btn btn-default write_btn" href="/schedule/admin_scheduleReg">작성하기</a>
				</div>
			</div>

			<div>
				<ul>
					<li>
						<!-- table 부트스트랩 -->
						<section class="intro">
							<div class="bg-image h-100">
								<div class="mask d-flex align-items-center h-100 table_color">
									<div class="container">
										<div class="row justify-content-center">
											<div class="col-12 card2">
												<div class="card table_line">
													<div class="card-body p-0">
														<div class="table-responsive table-scroll table_corner"
															data-mdb-perfect-scrollbar="true"
															style="position: relative;">
															<table class="table table-striped mb-0">
																<thead style="background-color: #3f3f3f; color: white;">
																	<tr>
																		<!-- <th scope="col">상태</th> -->
																		<th scope="col" style="width: 45px;">순서</th>
																		<th scope="col" style="width: 153px;">시작 날짜</th>
																		<th scope="col" style="width: 153px;">종료 날짜</th>
																		<th scope="col" style="width: 96px;">타입</th>
																		<th scope="col" style="width: 105px;">장소</th>
																		<th scope="col" style="width: 298px;">제목</th>
																		<th scope="col" style="width: 75px;">아티스트</th>
																		<th scope="col" style="width: 101px;">관리자 ID</th>
																	</tr>
																</thead>
																<tbody>
																	<!-- 게시글 반복 -->
																	<tr th:each="vo, status : ${list}">
																		<!-- <td>확인</td> -->
																		<td>[[${pageVO.total - (pageVO.pageNum - 1) * pageVO.amount - status.count + 1}]]</td>
																		<td>[[${vo.schedule_start_time}]]</td>
																		<td>[[${vo.schedule_end_time}]]</td>
																		<td>[[${vo.schedule_type}]]</td>
																		<td	class="schdule_location">[[${vo.schedule_location}]]</td>
																		<td class="schedule_ent_name">
																			<a th:href="@{/schedule/admin_scheduleDetail(schedule_no=${vo.schedule_no})}" id="title">[[${vo.schedule_ent_name}]]</a>
																		</td>
																		<td>[[${vo.ent_name}]]</td>
																		<td class="schedule_writer">[[${vo.schedule_writer}]]</td>
																	</tr>
																</tbody>
															</table>
															
															<!-- 검색 결과가 없는 경우 -->
															<th:block th:if="${noSearch} == '검색된 일정이 없습니다.'">
																<h3 id="noSearch">[[${noSearch}]]</h3>
															</th:block>
															
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!-- table 부트스트랩 끝-->
					</li>
				</ul>
			</div>


			<!-- pagination -->
			<section class="pagination_section">
				<div class="pagination">
					<ul class="pages">
						<!-- 맨 앞 페이지 -->
						<li><a th:href="@{admin_scheduleList(pageNum=1, amount=${pageVO.amount}, searchContent=${pageVO.cri.searchContent})}" class="page_num"><svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-chevron-double-left pointer_location" viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
									<path fill-rule="evenodd"
										d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
								</svg></a></li>

						<!-- 이전 페이지 -->
						<th:block th:if="${pageVO.prev}">
							<li><a th:href="@{admin_scheduleList(pageNum=${pageVO.startPage-1},amount=${pageVO.amount}, searchContent=${pageVO.cri.searchContent})}"
									class="page_num"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-chevron-compact-left pointer_location"
										viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z" />
									</svg></a></li>
						</th:block>


						<th:block th:each="pageNum:${pageVO.pageList}">
							<!-- pagnation 처리 -->
							<li><a th:href="@{admin_scheduleList(pageNum=${pageNum},amount=${pageVO.amount}, searchContent=${pageVO.cri.searchContent})}"
									th:class="${pageNum == pageVO.pageNum?'on':''}">[[${pageNum}]]
								</a></li>
						</th:block>


						<!-- 다음 페이지 -->
						<th:block th:if="${pageVO.next}">
							<li><a th:href="@{admin_scheduleList(pageNum=${pageVO.endPage+1},amount=${pageVO.amount}, searchContent=${pageVO.cri.searchContent})}"
									class="page_num"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-chevron-compact-right pointer_location"
										viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
									</svg></a>
							</li>
						</th:block>

						<!-- 맨 뒷 페이지 -->
						<li><a th:href="@{admin_scheduleList(pageNum=${pageVO.realEnd},amount=${pageVO.amount}, searchContent=${pageVO.cri.searchContent})}"
								class="page_num"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-chevron-double-right pointer_location"
									viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
									<path fill-rule="evenodd"
										d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
								</svg></a>
						</li>
					</ul>
				</div>
			</section>

		</form>
	</div>

</th:block>

	<!-- msg -->
	<script th:inline="javascript">
		var msg = JSON.parse('[[${msg}]]');
		if(msg != null) {
			alert(msg);
		}
	</script>

<!-- js -->	
<script src="/js/admin_scheduleList.js"></script>

</html>