* {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none;}
img {max-width: 100%; height: auto;}

  /*********** table ***********/
.table_wrap {
    width: 1080px;
}

.table_wrap .title {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    background-color: #3f3f3f;
    color: #ffffff;
    padding-left: 30px;
    margin-top: 30px;
}

.table_wrap ul li {
    overflow: auto;
}

.table_inner {
    width: 100%;
}

.table_inner .schedule_calendar img{
    width: 30px;
}

.table_inner tr th{
    width: 140px;
    background-color: #ebebeb;
    text-align: center;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #ededed;
    font-size: 14px;
}

.table_inner tr td{
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    padding-left: 12px;
    line-height: 30px;
    height: 50px;
    text-align: left;
}

.table_inner .input90 {
    width: 80%;
    resize: vertical;
}

.table_inner .content {
    width: 98%;
    min-height: 200px;
    resize: none;
    margin: 10px 0 10px;
}

.btn_wrap {
    text-align: center;
    padding: 31px 0 1px;
}  

.custom_btn {
    padding: 6px 35px !important;
    margin: 0 5px;
}

.table_inner label {
    line-height: 2rem;
    padding: 0.2em 0.4em;
}
  
.table_inner label input[type="radio"] {
      vertical-align: middle;
  }

.table_inner span {
    vertical-align: middle;
  }

.content {
    min-height: 180px;
}
  

  /*********** Modal ***********/
.modal_wrap {
    width: 100%;
}

.table_inner input {
    border: 1px solid #b1b1b1;
    height: 30px;
    width: 27.5%;
}

#date_timepicker_start {
    display: inline; 
}

#date_timepicker_end{
    display: inline;
    padding-left:10px;
}

.schedule_width70 {
    min-width: 70%;
}

.schedule_type {
    border: 1px solid #b1b1b1 !important;
    width: 27.5% !important;
    height: 30px;
    font-size: 15px !important;
    padding: 0 10px !important;
}