* {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none;}
img {max-width: 100%; height: auto;}

/*********** table ***********/
.table_wrap {
    width: 1080px;
}

.table_wrap .title {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    background-color: #3f3f3f;
    color: #ffffff;
    padding-left: 30px;
    margin-top: 30px;
}

.table_inner {
    width: 100%;
}

#date_timepicker_start {
  width:154px;
  display: inline; 
}

#date_timepicker_end{
  width:154px;
  display: inline;
  padding-left:10px;
}

.table_inner .schedule_calendar img{
    width: 30px;
    margin-left: 4px;
}

.schedule_calendar > label {
  padding: 0px;
}

.table_inner tr th{
    width: 140px;
    background-color: #ebebeb;
    text-align: center;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #ededed;
    font-size: 14px;
}

.table_inner tr td{
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    padding-left: 12px;
    line-height: 30px;
    height: 50px;
    text-align: left;
}

.table_inner input {
    border: 1px solid #b1b1b1;
}

.table_inner .input90 {
    width: 80%;
    resize: vertical;
}

.table_inner .content {
    width: 99%;
    height: 300px;
    resize: none;
    padding: 7px 7px;
    margin: 10px 0 10px;
}

.timepicker_block {
    display: inline !important;
}

  
/*********** radio ***********/
  label {
    font-size: 18px;
    line-height: 2rem;
    padding: 0.2em 0.4em;
  }
  
  span {
    vertical-align: middle;
  }
  
  [type="radio"] {
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    transition: border 0.3s ease-in-out;
  }
  
  [type="radio"]:checked {
    border: 0.27em solid tomato;
  }
  
  [type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted tomato;
  }
  
  [type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
  }
  
  [type="radio"]:disabled {
    background-color: lightgray;
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  [type="radio"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  /*********** Global CSS ***********/
  fieldset {
    display: flex;
    justify-content: center;
    border: none;
    margin: 0;
    padding: 40px 20px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /*********** button ***********/
.btn_wrap {
    text-align: center;
    padding: 30px 0;
}  

.custom_btn {
    padding: 6px 35px !important;
    margin: 0px 5px;
}

.table_inner label {
    line-height: 2rem;
    /* padding: 0.2em 0.4em; */
  }

.table_inner span {
    vertical-align: middle;
  }