/* admin_authority_list CSS */

/* breadcrumb & search bar */
a {
  color: black;
}

.aal-top {
  overflow: hidden;
  vertical-align: middle;
  padding: 20px 20px 15px;
  border: 1px solid #999;
}

.aal-top-left {
  float: left;
  font-size: 18px;
  font-weight: 700;
}

.aal-top-right {
  float: right;
}

.aal-top-right > input {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  margin-right: 5px;
}

.aal-top-right > button {
  height: 30px;
  line-height: 16px;
  margin-bottom: 5px;
}

.aal-top-right .btn {
  border: 1px solid rgb(133, 133, 133);
}

/* table */
.aal-content {
  text-align: center;
  padding: 20px 20px 15px;
  border: 1px solid #999;
  border-top: none;
}

.aal-content td {
  vertical-align: middle;
}

/* pagination */
.pagination-outer {
  border: 1px solid #999;
  padding-top: 15px;
}

.pagination > li > .page-link {
  color: black;
  box-sizing: border-box;
}

.page-link > a > span {
  color: black;
  box-sizing: border-box;
}

.pagination > li:hover {
  border: 2px solid #212529;
  color: black;
  background-color: rgb(235, 235, 235);
}

.pagination > li > .page-link:hover {
  background-color: rgb(235, 235, 235);
}

/* modal */
.modalOpen {
  height: 32px;
  line-height: 16px;
}