* {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none;}
img {max-width: 100%; height: auto;}

/*********** 상위 검색 부분 ***********/
.search_wrap {
    overflow: hidden;
    width: 1080px;
    margin: -10px;
}

.search_wrap .search_left {
    float: left;
}

.search_wrap .search_right {
    float: right;
    overflow: hidden;
}

.search_wrap a {
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #96bdf1;
    text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666;
    line-height: 215px;
    height: 200px;
    width: 340px;
    padding-left: 15px;
    font-size: 65px;
    font-weight: 500;
    text-decoration: none;
}
.search_wrap a:hover {
    color: #96bdf1;
}

.search_right .left_wrap {
    float: left;
    overflow: hidden;
    width: 330px;
    margin-right: 50px;
    margin-top: 60px;
}

.search_right .title_search {
    float: left;
    background-color: #f3f3f3;
    height: 100px;
    width: 100%;
    padding: 30px 15px 0;
}

.search_right .title_search input {
    float: left;
    width: 240px;
}

.search_right .title_search .search_btn {
  float: right;
  width: 55px;
  background-color: #fee192;
  border: 1px solid #938767;
}

.search_right .title_search .search_btn:hover {
  background-color: #fff;
  border: 1px solid #707070;
}

.custom_btn {
  padding: 6px 35px !important;
  margin: 0px 5px;
}

.search_right .today_count {
    float: left;
    background-color: #f3f3f3;
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.search_right .today_count .count { color: tomato; }

.search_right .calendar {
    float: left;
}

/*********** calendar 틀 ***********/
html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .clearfix:after {
    content: '';
    display: block;
    clear: both;
    float: none;
  }
  
/*********** mycalendar ***********/
  .my-calendar {
    width: 250px;
    text-align: center;
    cursor: default;
    margin-top: 35px;
  }
  
  .my-calendar .calendar-box {
    width: 100%;
  }
  
  .ctr-box {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .ctr-box .btn-cal {
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;
  }
  .ctr-box .btn-cal:after {
    content: '<';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 25px;
    font-weight: bold;
    font-size: 20px;
  }
  .ctr-box .btn-cal.next {
    float: right;
  }
  .ctr-box .btn-cal.next:after {
    content: '>';
  }
  
  .cal-table {
    width: 100%;
  }

  .cal-table thead th {
    color: #000;
  }

  .cal-table th {
    width: 14.2857%;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 900;
  }
  .cal-table td {
    padding: 3px 0;
    height: 35px;
    font-size: 15px;
    vertical-align: middle;
  }
  .cal-table td.day {
    position: relative;
    cursor: pointer;
  }
  .cal-table td.today {
    background: #ffd255;
    border-radius: 50%;
    color: #fff;
  }
  .cal-table td.day-active {
    background: #ff8585;
    border-radius: 50%;
    color: #fff;
  }
  .cal-table td.has-event:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #FFC107;
  }

/*********** table (수정) ***********/
.table_wrap {
    overflow: hidden;
    text-align: center;
    margin: 0 13px;
}

.table_title {
    float: left;
}

.table_title h3 {
    font-size: 30px;
    height: 60px;
    line-height: 60px;
}

.table_right {
    float: right;
}

.table_right .write_btn {
    background-color: #fee192;
    border: 1px solid #938767;
    margin-top: 15px;
}

.table_right .write_btn:hover {
    border: 1px solid #707070;
}

#noSearch {
	text-align: center;
    padding: 50px;
    font-size: 22px;
    border: 1px solid #ecedee;
    color: #9ba4ad;
}

/*********** swiper ***********/
.mySwiper {
    width: 100%;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  object-fit: cover;
}

swiper-slide .img-box {
    padding: 0 15px;
}

swiper-container {
  width: 100%;
  height: 200px;
  margin: 20px auto;
}

.container_block {
    height: 170px;
    margin-top: 35px;
    width: 97.2%;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}


/*********** swiper:hover ***********/
.content {
  position: relative;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h5{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.act h5 {
  margin-bottom: 2.5em;
}

/*********** table ***********/
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}

.table_corner {
  border-radius: 0px;
}

.table_corner table thead th {
  text-align: center;
  font-size: 16px;
}

.table_corner table tbody tr td {
  padding: 10px 13px;
}

thead {
  top: 0;
  position: sticky;
}

.card2 {
    background-color: white;
}

.table td {
    text-align: center;
}

.table .schdule_location {
  width: 105px;
  max-width:105px;
  overflow:hidden;
  text-overflow:ellipsis;
}

.table .schedule_ent_name {
    text-align: left;
    width: 298px;
    max-width: 298px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table .schedule_writer {
  width: 101px;
  max-width: 101px;
}

#title {
  cursor:pointer;
  text-decoration: none;
  color: #000;
}

#title:hover {
  color: tomato;
}

.table_line {
    border: none !important;
    border-width: none !important;
}


/*********** pagenation ***********/
.pagination_section{
    text-align: center;
}

.pagination{
    margin: 0 auto;
    width:900px;
    padding: 20px 0;
}

.pages{
    margin: 0 auto;
    display: inline-block;
}

.pages li{
    display: inline;
}

.pages li a{
    border:1px solid #bab9b9;
    display: inline-block;
    height: 30px;
    width: 50px;
    line-height: 30px;
    text-decoration: none;/* 밑줄제거 */
    font-size:15px;
    font-weight: 500;
    color: #666666;
    border-radius: 5px;
}

.pages a:hover{
    background-color: #ebeaea;
}

.pointer_location {
  vertical-align: -2px;
}

.page_num{
    height: 30px;
    line-height: 30px;
}