*{
    padding:0;
    margin: 0;
    list-style: none;
}
/* ******** 검색********* */
.search_wrap{
    overflow:hidden;
    width:90%;
}

.search_form{
    float: right;
}

.title_right{
    float:left;
}


/****** 게시글 ********/
.listwrap{
   margin: 50px 0; 
}
.toDetail{
    color:black;
}


/* ******* 주문 ******** */
/* ******* 상품 ******** */


/***********pagenation***********/
.pagination_section{
    text-align: center;
}

.pagination{
    margin: 0 auto;
    width:900px;
}

.pages{
    margin: 0 auto;
    display: inline-block;
}

.pages li{
    display: inline;
}

.pages li a{
    border:1px solid #bab9b9;
    display: inline-block;
    height: 30px;
    width: 50px;
    line-height: 30px;
    text-decoration: none;/* 밑줄제거 */
    font-size:15px;
    font-weight: 500;
    color:black;
}

.pages a:hover{
    background-color: rgb(126, 126, 126);
}

/* .size{
    padding-bottom: 5px;
} */

.page_num{
    height: 30px;
    line-height: 30px;
}
.page_num:hover{
    color:white;
}

.on{
    color:white;
	background-color:#002d72;
}