*{
    margin:0;
    padding: 0;
    list-style: none;
}


.formSection{
    margin:0 auto;
    text-align: center;
}


.regist_wrap{
    justify-content: center;
    padding: 10px;
}

.registForm_div{
    border: 1px solid black;
    width: 1000px;
    margin: 0 auto;
}
.list_sector{
    background-color: #f5f7fa;
}

.regTable{
    color:white;
}

/* ********** table ********** */
.regTable th{
    background-color: black;
    border: 1px solid #777;
    border-top: none;
    border-left: none;
    padding:10px 20px;
}

.regTable td{
    width: 85%;
}

.regTable td input{
    width:100%;
    height:100px;
    padding:20px 50px 20px 30px;
}

input:focus{
    outline: none;
    border:1px solid aqua;
}

.regId{
    width:150px;
    height:30px;
    line-height:30px;
}

.regTable td input:focus{
    outline: none;
    border: 2px solid aqua;
}

/* 상세조회 */
.category_wrap{
    border: 1px solid black;
    background-color: white;
}

.category_content{
    overflow:hidden;
}
.categoryListWrap{
    float: left;
}




/* 상세조회버튼 */
.btn_cont{
    overflow:hidden;
}
.cont_right{
    float: right;
}
.detail_btn{
    border: 1px solid black;
    background-color: black;
    color: white;
}



/* ***************buttons************ */
.btn_area{
    padding:20px;
}

.btn_area input{
    padding:10px 25px;
    border-radius: 15px;
    border-color: gray;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.btn_area input:hover{
    animation: fadeIn 0.5s ease-in-out;
    border:1px solid gray;
}

@keyframes fadeIn{
    from{
    opacity: 0.5;
    background-color:#dddcd4;
    }to{
        opacity: 1;
        border:1px solid gray;
    }
}