* {
	margin: 0;
	padding: 0;
	list-style: none;
}

.formSection {
	margin-bottom: 85px;
}

.regist_wrap {
	padding: 10px;
}

.registForm_div {
	border: 1px solid black;
	background-color: #f5f7fa;
	width: 1080px;
}

.list_sector {
	background-color: #f5f7fa;
}

/* ********** table ********** */
.regTable {
	color: white;
	width: 100%;
}

.regTable th {
	background-color: black;
	border: 1px solid #777;
	border-top: none;
	border-left: none;
	text-align: center;
	padding: 10px 20px;
}

tr {
	border-bottom: 1px solid #777;
}

.regTable td {
	width: 85%;
	margin-left: 10px;
	padding-left: 20px;
}

.regTable td input {
	width: 50%;
	padding: 5px;
	height: 100%;
}

input:focus {
	outline: none;
	border: 1px solid aqua;
}

.regId {
	width: 150px;
	height: 30px;
	line-height: 30px;
}

.regTable td input:focus {
	outline: none;
	border: 2px solid aqua;
}

/* 상세조회 */
.categoryTd {
	overflow: hidden;
}

.category_wrap {
	float: left;
	width: 90%;
	border: 1px solid black;
	background-color: white;
}

.category_content {
	overflow: hidden;
	height: 120px;
}

.categoryListWrap {
	float: left;
	width: 100%;
	height: 120px;
	border-top: 1px solid #ccc;
}

.versionCheck {
	display: inline-block;
	width: 50%;
	background-color: white;
	border: 1px solid #777;
	color: black;
}

.versionCheck .versionRadio {
	display: inline-block;
	width: 20px;
	height: 100%;
	padding: 5px;
}

#selectAlbumBox {
	width: 20%;
}

#selectbox {
	width: 20%;
}

/*카테고리*/
.categoryListWrap ul {
	position: relative;
	height: 244px;
	margin: 10px 10px 10px 0;
}

.categoryListWrap .categoryList {
	border-left: 1px solid #ccc;
	box-sizing: border-box;
	float: left;
	overflow: auto;
	overflow-x: none;
	width: 25%;
	height: 100%;
	padding: 7px 0;
	margin: 0;
}

.categoryListWrap .categoryList>li {
	padding: 0px;
}

.catubegoryListWrap .categoryList a {
	overflow: hidden;
	white-space: nowrap;
	display: block;
	height: 26px;
	padding: 0 20px;
	line-height: 26px;
	font-size: 13px;
	color: #000;
}

.forOn a {
	color: black;
	padding-left: 5%;
}

.on {
	background-color: black;
}

.categoryListWrap .categoryList .on a {
	background-color: black;
	color: #fff;
}

/* 상세조회버튼 */
.btn_cont {
	overflow: hidden;
}

.cont_right {
	float: right;
}

.detail_btn {
	border: 1px solid black;
	background-color: black;
	color: white;
	padding: 10px;
	margin: 10px;
}

/* 모달 */
.btn-modal {
	top: 50%;
	left: 50%;
	margin-right:5px;
	padding:5px;
	background-color: rgb(7, 7, 7);
	color: white;
}


.modal {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	display: none;
}
.modal2 {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	display: none;
}


.modal_content {
	width: 600px;
	height: 600px;
	background: #fff;
	border-radius: 10px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -300px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 20px;
	line-height: 23px;
}
.modal_content2 {
	width: 600px;
	height: 600px;
	background: #fff;
	border-radius: 10px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -300px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 20px;
	line-height: 23px;
}

.modal_close{
	position:absolute;
	top:2px;
	right:5px;		
	text-decoration:none;
	background-color:#fff;
	font-weight:bold;
	font-size: large;
	padding: 10px 30px;
	border: none;
	cursor: pointer;
	
}

.modal_title{
	display:inline-block;
	text-align:center;
}

/* 이미지 등록 */

.imgReg_content{
	padding-top: 50px;
}

#preview{
	width: 300px;
	height: 300px;

}

.img_btn_area{
	padding-top:20px;
	padding-left: 50px;
}


/* 상세설명이미지 등록 */
#previewPD{
	width: 300px;
	height: 350px;
}


/* ******모달창 내 등록버튼****** */
input[type=file]::file-selector-button{
	top: 50%;
	left: 50%;
	margin-right:5px;
	padding:5px;
	background-color: rgb(7, 7, 7);
	color: white;
}
input[type=File]{
	display: block;
}

.imgRegUpload_btn{
	display: block;
	top: 50%;
	left: 50%;
	margin-right:5px;
	margin-top: 5px;
	padding:5px;
	background-color: rgb(7, 7, 7);
	color: white;
}


/* ***************buttons************ */
.btn_area {
	margin-top: 10px;
	padding: 20px;
	text-align: center;
}

.btn_area input {
	padding: 10px 25px;
	border-radius: 15px;
	border-color: gray;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}

.btn_area input:hover {
	animation: fadeIn 0.5s ease-in-out;
	border: 1px solid gray;
}

@keyframes fadeIn {from { opacity:0.5;
	background-color: #dddcd4;
	}to {
		opacity: 1;
		/* border:1px solid gray; */
	}
}