*{
    padding:0;
    margin: 0;
    list-style: none;
}
/* ******** 검색********* */
.search_wrap{
    overflow:hidden;
    width:90%;
}

.search_form{
    float: right;
}

.title_right{
    float:left;
}


/****** 게시글 ********/
.listwrap{
   margin: 50px 0; 
}
.toDetail{
    color:teal;
    text-decoration: none;
}

.toDetail:hover{
    color: red;
    cursor: pointer;
}

/***********pagenation***********/
.pagination_section{
    text-align: center;
}

.pagination{
    margin: 0 auto;
    width:900px;
}

.pages{
    margin: 0 auto;
    display: inline-block;
}

.pages li{
    display: inline;
}

.pages li a{
    border:1px solid #bab9b9;
    display: inline-block;
    height: 30px;
    width: 50px;
    line-height: 30px;
    text-decoration: none;/* 밑줄제거 */
    font-size:15px;
    font-weight: 500;
    color:black;
}

.pages a:hover{
    background-color: rgb(126, 126, 126);
}


.page_num{
    height: 30px;
    line-height: 30px;
}
.page_num:hover{
    color:white;
}

.on{
    color:white;
	background-color:#002d72;
}

/* 모달창 */
 .modal{
    width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	display: none;
} 

.modal_content{
    display: block;
}

.modal_wrap{ 
    /*테스트용*/
    border:1px solid #777;
    width:50%;
    height:100%;
	background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow-y:auto;
} 

.modal_wrap h5{
    margin-top:20px;
}

.modal_wrap .modal_close{
    position:absolute;
	top:3px;
	right:8px;		
	text-decoration:none;
	background-color:#fff;
	font-weight:bold;
	font-size: large;
	padding: 10px 30px;
	border: none;
	cursor: pointer;
}


/* 테이블 */
.modal_table{
    /* border: 1px solid #777; */
    padding: 20px;
    text-align:center;
}


.modal_table .th{
    padding: 25px;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    box-shadow:0.5px 1px #777;
}

.modal_table th{
    padding:30px 40px;
    /* border-right: 1px solid #777; */
    border-top: 1px solid #777;
}

.modal_table td{
    padding: 25px;
    border-top: 1px solid #777;
}

/* 이미지 */
.modal_table img{
    width:100px;
    height: 100px;
}

/* 버튼 */
.btn_wrap{
    width: 60%;
    border-top: 1px solid #777;
}


.btn_area{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

#modify_btn{
	border: 2px solid rgb(15, 119, 238);
    color: rgb(15, 119, 238);
}

#additional_btn{
    border: 2px solid green;
    color: green;
}

#close_btn{
    border: 2px solid red;
    color: red;
}

.btn{
    background-color: white;
    border-radius: 20px;
    padding: 2px;
    margin: 5px;
}