*{
    margin: 0;
    padding: 0;
}

.best_seller_title{
    padding: 20px;
    border-bottom: 2px solid #ced4da;
}


.best_seller_wrap{
    padding-top: 20px;
    display: flex;
    justify-content: flex-start ;
}


/* 차트 */
.best_prod_section{
    padding: 10px;
    color:yellowgreen;
}

.best_album_section{
    padding: 10px;
    margin-left: 30px;
    color:red;
}

.prod_canvas_section{
    width: 500px; 
    height: 350px; 
    border:2px solid yellowgreen;
}

.album_canvas_section{
    width: 500px;
    height: 350px; 
    border:2px solid red;
}


/* 테이블 */
.table_section{
    margin-top:100px;
    border-top: 2px solid #ced4da;
    text-align: center;
}

.table_section > h3{
    margin-top:20px;
    margin-bottom:20px;
}

.order_history_thead{
    background-color: #3f3f3f;
    color: white;
}

.pname_td_detail{
	display:block;
    white-space:nowrap;
    width:120px;
    overflow:hidden;
    text-overflow: ellipsis;
}
/* 버튼 */
.OrderStateNow{
    font-size:13px;
    background: none;
    padding:5px;
    margin-right:5px;
    border:2px solid yellowgreen;
    color:yellowgreen;
    border-radius: 20px;
}

.OrderStateNow:hover{
    border:2px solid green;
    background-color:green;
    color:white;
}

.OrderStateNow:disabled{
    border:2px solid gray;
    color:gray;
    opacity: 0.5;
    pointer-events: none;
}



.state_now{
    font-size:13px;
    background: none;
    padding:5px;
    margin-right:5px;
    border:2px solid green;
    color:green;
    border-radius: 20px;
}



/* 페이지네이션 */
.pagination_section {
    margin: 20px 0;
    text-align: center;
}

.pagination {
    margin: 0 auto;
    width: 900px;
}

.pages {
    margin: 0 auto;
    display: inline-block;
}

.pages li {
    display: inline;
}

.pages li a {
    border: 1px solid #bab9b9;
    display: inline-block;
    height: 30px;
    width: 50px;
    line-height: 30px;
    text-decoration: none;
    /* 밑줄제거 */
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.pages a:hover {
    outline: 3px solid yellowgreen;
}

.page_num {
    height: 30px;
    line-height: 30px;
}

.pon {
    background-color: #3f3f3f;
    color: white !important;
}