<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div>
		<h2>home</h2>
		
		<table style="text-align: center">
			<tr>
				<th>연번</th>
				<th>아이디</th>
				<th>비밀번호</th>
				<th>이름</th>
				<th>이메일</th>
			</tr>
	
			<tr th:each="vo, s : ${list}">
				<td>[[${s.count}]]</td>
				<td>[[${vo.user_id}]]%</td>
				<td>[[${vo.user_pw}]]</td>
				<td>[[${vo.user_name}]]</td>
				<td>[[${vo.user_email}]]</td>
			</tr>
		</table>
	</div>
	<div class="db-img">
		
	</div>
	
	
	<script>
		
	</script>

</body>
</html>