<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<th:block th:replace="~{./layout/y4j_layout :: funcLayout(~{:: .fragment})}">

	<div class="fragment">
		<div class="fragment-inner">
			<div class="msg-outer">

				<div class="msg-top">
					<div class="btn-group msg-top-left" role="group" aria-label="Basic radio toggle button group">
						<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
						<label class="btn received btn-outline-dark position-relative" for="btnradio1">
							받은 쪽지함
							<span class="badge text-bg-danger uncheckedMsgNum" style="font-size: 13px;">[[${uncheckedMsgNum}]]</span>
							</span>
						</label>
						<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
						<label class="btn sent btn-outline-dark" for="btnradio2">보낸 쪽지함</label>
					</div>
					<div class="msg-send msg-top-right">
						<button type="button" class="btn btn-outline-dark showModal" data-bs-toggle="modal" data-bs-target="#exampleModal">쪽지 작성하기</button>
					</div>
				</div>

				<!-- 쪽지 작성 Modal -->
				<form action="sendMsgForm" id="sendMsgForm" class="sendMsgForm was-validated" method="post" >
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalLabel">Message</h1>
									<button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body" style="width: 500px">

									<fieldset class="row mb-2 receiverType-outer">
										<div class="col-form-label col-sm-2 pt-0 rt1">수신자 유형</div>
										<div class="col-sm-10 rt2">
											<div class="form-check">
												<input class="form-check-input receiverType" type="radio" name="receiver-type" id="gridRadios1" value="user" required>
												<label class="form-check-label" for="gridRadios1">
													일반 회원
												</label>
											</div>
											<div class="form-check">
												<input class="form-check-input receiverType" type="radio" name="receiver-type" id="gridRadios2" value="admin" required>
												<label class="form-check-label" for="gridRadios2">
													관리자
												</label>
											</div>
										</div>
										<input type="hidden" id="msg_receiver_type" name="msg_receiver_type" />
									</fieldset>
									<div class="mb-3">
										<label for="msgReceiverId" class="form-label">수신자 ID</label>
										<input type="text" name="msg_receiver_id" class="form-control" id="msgReceiverId" placeholder="receiver ID" required>
									</div>
									<div class="mb-3">
										<label for="msgSendTitle" class="form-label">제목</label>
										<input type="text" name="msg_title" class="form-control" id="msgSendTitle" placeholder="Message Title" required>
									</div>
									<div class="mb-3">
										<label for="msgSendContent" class="form-label">내용</label>
										<textarea name="msg_content" class="form-control" id="msgSendContent" rows="8" placeholder="Message Content" required></textarea>
									</div>
									
									<input type="hidden" name="msg_writer_id" class="msg_writer_id" th:value="${session.user_id == null ? session.admin_id : session.user_id}" />
									<input type="hidden" id="msg_writer_type" name="msg_writer_type" th:value="${session.user_id == null ? 'admin' : 'user'}" />

								</div>
								<div class="modal-footer">
									<button type="submit" id="sendMsgBtn" class="btn btn-outline-dark">발송</button>
									<button type="button" class="btn btn-secondary closeModal" data-bs-dismiss="modal">닫기</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				
				<div class="msg-list">
					<div class="accordion">
						받은 쪽지함 or 보낸 쪽지함 클릭
					</div>
				</div>

			</div>
		</div>
	</div>

</th:block>
<link rel="stylesheet" href="/css/message.css">
<script src="/js/message.js"></script>
<script th:inline="javascript">
	var msg = JSON.parse('[[${msg}]]');
	if(msg != null) {
		alert(msg);
	}
	</script>

</html>