<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <title>y4j_intro</title>
  <link rel="stylesheet" href="css/y4j_intro.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</head>

<body>
  <div class="outer">
    <div class="menu-outer">
      <div class="menuTable-outer">
        <div class="menuTable-header">
          <div class="menuTable-header-inner">
            <img class="menuTableCloseBtn" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/btn_close.svg" />
            <img class="menuTable-header-companyLogo" onclick="location.href='admin/admin_home'"
              src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/y4j_logo_white.png">
          </div>
        </div>
        <div class="menuTable">
          <div class="snb">
            <ul>
              <li></li>
            </ul>
          </div>
          <div class="snb">
            <ul>
              <li class="snbLi1">COMPANY</li>
              <li>ABOUT Y4J</li>
              <li>HISTORY</li>
              <li>CONTACT</li>
            </ul>
          </div>
          <div class="snb snb2">
            <ul>
              <li><span></span></li>
            </ul>
          </div>
          <div class="snb">
            <ul>
              <li class="snbLi1">ENTERTAINER</li>
              <li>NEWJEANS</li>
              <li>BLACKPINK</li>
              <li>IVE</li>
              <li>JANG KIYONG</li>
              <li>CHAE SOOBIN</li>
            </ul>
          </div>
          <div class="snb snb3">
            <ul>
              <li><span></span></li>
            </ul>
          </div>
          <div class="snb">
            <ul>
              <li class="snbLi1">PRODUCTION</li>
              <li>ALBUM</li>
              <li>GOODS</li>
              <li>MAGAZINE</li>
              <li>PICTURE CARD</li>
            </ul>
          </div>
          <div class="snb snb4">
            <ul>
              <li><span></span></li>
            </ul>
          </div>
          <div class="snb">
            <ul>
              <li class="snbLi1">AUDITION</li>
              <li>AUDITION</li>
            </ul>
          </div>
          <div class="snb">
            <ul>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="companyLogo-outer" style="cursor: pointer;">
        <img class="companyLogo"  onclick="location.href='admin/admin_home'" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/y4j_logo_white.png">
      </div>
      <div class="menu">
        <div class="top-left">
          <img class="menuTableOpenBtn" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/btn_menu.svg" />
        </div>
        <div class="top-right">
          <img class="login" onclick="location.href='admin/admin_login'" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/loginMember.png"/>
          <img class="join" onclick="location.href='admin/admin_join'" src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/loginJoin.png" />
        </div>
      </div>
    </div>

    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <video id="videoPlayer"
            src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/NewJeans_vid1.mp4"
            autoplay loop muted></video>
        </div>
        <div class="swiper-slide">
          <video id="videoPlayer"
            src="https://smtown-cdn.smtown.com/upload/smtown/main/video/30baa23d0fbf451d9775684632cfb433_2023-01-16-09-46-25.mp4"
            autoplay loop muted></video>
        </div>
        <div class="swiper-slide">
          <video id="videoPlayer"
            src="https://blackpinkofficial.com/worldtourbornpink/assets3/BP_MainLogo_Loop_Web_v08.mp4" autoplay loop
            muted></video>
        </div>
        <div class="swiper-slide">
          <video id="videoPlayer"
            src="https://smtown-cdn.smtown.com/upload/smtown/main/video/afeb72bfb5fd47b9bb50363d04dce1e4_2023-03-06-09-03-55.mp4"
            autoplay loop muted></video>
        </div>
        <div class="swiper-slide">
          <video id="videoPlayer"
            src="https://smtown-cdn.smtown.com/upload/smtown/main/video/947973fca5894252a52ad4bf8e735954_2023-02-28-07-43-28.mp4"
            autoplay loop muted></video>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="y4j-sns-link">
      <ul>
        <li><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/btn_instagram.svg" /></li>
        <li><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/btn_facebook.svg" /></li>
        <li><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/btn_youtube.svg" /></li>
        <li><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/btn_twitter.svg" /></li>
        <li><img src="https://jafp.s3.ap-northeast-2.amazonaws.com/y4j/btn_tiktok.svg" /></li>
      </ul>
    </div>

    <div class="bottom-banner">
      <div class="bottom-banner-left">
        <span>ⓒY4J All Rights Reserved</span>
      </div>
      <div class="bottom-banner-right">
        <span>개인정보처리방침</span>
        <span>▼ 관련 사이트</span>
      </div>
    </div>

  </div>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      direction: "horizontal",
      effect: "coverflow",
      mousewheel: {
        invert: false,
        sensitivity: 1,
        thresholdDelta: 30
      },
      grabCursor: true,
      slidesPerView: "1",
      centeredSlides: true,
      loop: false,
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: ".swiper-pagination",
        type: "progressbar",
      }
    });
  </script>
  <script>
    setTimeout(function () {
      document.querySelector(".swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal").style.top = "revert";
      document.querySelector(".swiper-pagination-progressbar .swiper-pagination-progressbar-fill").style.background = "rgb(170, 170, 170)";
    }, 100);
  </script>
  <script src="js/y4j_intro.js"></script>
</body>

</html>