<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>

<head>
  <meta charset="UTF-8">
  <title>Y4J Chat Bot</title>
  <link rel="stylesheet" href="/css/y4j-chatbot.css">
  <script src="/js/y4j-chatbot.js"></script>
</head>

<body>
  <div id="chat" class="chat-container">
    <div class="chat-box">
      <div class="chat-message">
        <p class="assistant">소속 엔터테이너에 대해서 물어봐 주세요!</p>
      </div>
      <!-- 여기에 계속 문답 추가 됨 -->
    </div>
    <div id="loader" class="loader" style="display: none;">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div class="chat-input">
      <input type="text" placeholder="Type your message here...">
      <button id="btn" onclick="spinner()">Send</button>
    </div>
  </div>
</body>

</html>