* {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none;}
img {max-width: 100%; height: auto;}



.hotTitle{
    margin: 120px 0;
}


.hotTitle span{
    padding: 0 50px;
	position:relative;
}

.hotTitle span::after{
    display: block;
    content: '';
    position: absolute;
    top: 47%;
    left: 0;
    width: 100%;
    border: 3px solid white;
}

.swiper-button-next {
    background: url(/img/next_button4.png) no-repeat;
    background-size: 50% auto;
    background-position: center;
  }
  
  .swiper-button-prev {
    background: url(/img/prev_button.png) no-repeat;
  }

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}



 .new_in{
  position: absolute;
  top: 290px;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left bottom !important;
} 


/* 상품명과 아티스트로 검색창  */
.productSearch_wrap{
	margin-top: 160px ;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	overflow: hidden;	
	padding: 80px 10px;
	background-color:  #bebebe28;

}

.productSearch_wrap Strong{
	font-size: 40px;
	font-family: 'Noto Rashi Hebrew', serif;
	margin-bottom: 30px;
	float: left;
}


.productSearch_box{
	width: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	position: relative;	
	
}

.productSearch{
	width: 70%;
	height:55px;
	border: none;
	border-bottom: 3px solid black;
	margin-left: 0;
	margin-right: 0;
	font-size: 18px;	
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 600;
	padding: 10px;
	outline: none;
}

.productSearch_box img{
	position: absolute;
	top:10px;
	left:900px;
	cursor: pointer;
}

.prod_hashTag_button {
	margin-top: 27px;
}

.prod_hashTag_button  span{
	margin: 0 30px;
	font-size: 17px;	
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 600;
	cursor: pointer;
}

.prod_hashTag_button span:hover{
	color: #bebebec4;
}

/* 상품 목록 css */

.about_goods{
	cursor: pointer;
}

.product_classification_box{
 margin-right: 20px;	
}

.product_classification{
	
	margin:30px 40px;
	padding-right:10px;
	overflow: hidden;
	
}

.product_classification span{
	float: right;

	padding: 0 20px;
	cursor: pointer;
	
}

/*  전체 상품 목록 - 상품명은 hover로  */

.allProduct{
  	margin-bottom: 50px;
  	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
	
}

.allProduct_list{

	flex-basis: 22%;
	margin:20px 15px;
	position: relative;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

 
.allProduct_list:hover .allProduct_list_info_box  {
	opacity: 1;
	cursor: pointer;
} 

.allProduct_list_info_box{
	position: absolute;
	top:0;
	left:10;
	width:230px;
	height:230px;
	display: flex;
	flex-direction:column;
	align-items: center;
	text-align:center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.286);
	transition: all 0.5s ease-in-out;
 	opacity: 0;
 	
}



.allProduct_list_info{
	font-size: 14px;
	font-family:'Nanum Gothic', sans-serif;
	font-weight: 600; 
	position:absolute;
	top: 50%;
	left: 50%;
	width:230px;
	height:230px;
	transform: translate( -50%, -50% );
    color:rgb(247, 251, 255);
	line-height:25px;
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content: center;
    padding: 20px;
}
