* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color:inherit;
}


/* header */


.header_main_menu ul{
	display: flex;


}

.hearder_main{
	position: relative;	
	top: 15px;
	left:-200px;
}

.header_main_menu ul li {
	font-family: 'Noto Rashi Hebrew', serif;
	font-size: 16px;
	
	
	
}

/********* 조장님이 만든 소중한 아이콘들 **********/

.header1_user_bar_box{
	width: 100%;
	margin:0;
	background-color: rgba(248, 238, 219, 0.279);
	padding: 10px;

}

.header1_user_bar{
	width: 1200px;
	height: 45px;
	line-height: 45px;
}

.main-header-inner2 {
  	float: left;
 	margin:0;
  	padding-left: 0px;
  	 
}

.main-header-inner2 li {
  display: inline-block;

}

 .main-header-inner2 li a {
  display: block;
  text-decoration: none;
  cursor: default;
  width: 50px;
  box-sizing: border-box;
   margin: 3px 20px 3px 0px;
   text-align: center;

}

 .main-header-inner2 .header_middle_user img {
  width: 35px;
  height: 36px;

  cursor: pointer;
}

 .main-header-inner2 li span {
  display: block;
  text-align: center;
  font-size: 10pt;

}


/* 메뉴바 드롭다운 부분 */
.header_main_menu > ul > li > .menu_bar1 {
 display: flex;
 flex-direction: column;
  height: 0px;
  position: absolute;
  z-index: 30; 
  overflow: hidden;
  transition: height ease-out 0.6s 0s;
 
}

.header_main_menu .menu_bar1 li {
  position: relative;
  height: 40px;
  top: 30px;
  left:0;
  color:black;
  font-weight :800;
  font-size: 16px;
   font-family: 'Alkatra', cursive;
  cursor: pointer;
  z-index: 1000000;
}



/* 메뉴바 상단 고정 관련 CSS */
.header_main{
  position: absolute;
  top: 60px;
  left: 0px;
  z-index: 5;
  width: 100%;
}


.celeb_main {
	margin-bottom: 300px;
}

/* 메인 배너 */
.header1-bottom{
	
	position: relative;
}

.main_content_box{
	position: absolute;
	top: 460px;
	left: 260px;
	display: flex;
}

.main_content_info{
	display: flex;
	flex-direction: column;
	color:BLACK;
	padding-top: 160px;
	margin-left: 30px;
}


.main_content_img{
	position: relative;
}

.main_new_img{
	position: absolute;
	top:35px;
	left:160px;
	width: 100%;
  	height: 100%;
  	
}

.main_new_img img{
	box-shadow: 1px 1px 20px gray;
}


.main_content_info div{
	line-height: 35px;
	margin: 0;
}


/* 사이드 바 */


.aside_ive_goods_wrap{
	margin-top: 80px;
	margin-left: 90px;
	position: static;
	top:900px;
	width: 180px;
}


.aside_ive_goods_box3 >div  > p {
	font-family: 'Noto Rashi Hebrew', serif;
	font-size: 25px;
	cursor: pointer;
}

.aside_ive_goods_box3 > div > ul {
	margin-top: 20px;
	margin-left: 10px;
}

.aside_ive_goods_box4 > span{
	font-size: 25px;
  	font-family: 'Noto Rashi Hebrew', serif;
  	line-height: 48px;
  	
  
}


.aside_ive_goods_box3 {
	width:100%;
	display:inline;
}


 .aside_ive_goods_box3 .aside_ive_goods_box4{
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	
} 

.aside_ive_goods_box3 div p{
	float: left;
	
	}

.aside_ive_goods_box3 #down_img{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 13px;
	width: 30px; 
	height: 35px; 
	
}

.aside_ive_goods_box3 #up_img{
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	width: 28px; 
	height: 30px; 
	margin-left: 13px;
}



.aside_ive_goods_box3 .aside_ive_sidebar ul{

  
	 position: absolute;
 	 overflow: hidden;
  	 height: 0;
  	 transition: all 1s ease 0s;
  
}


.aside_ive_goods_box3 .aside_ive_sidebar ul > li{
	position: relative;
	 top: 10px;
 	left:0;
 	font-size: 20px;
  	font-family: 'Noto Rashi Hebrew', serif;
  	line-height: 60px;
  	font-style: italic;
  	cursor: pointer;
  	   
}	

 .aside_ive_goods_box3 >div{

 	border-bottom: 2px solid rgba(0, 0, 0, 0.73);
 }
 
  /* 본문 내용 */

#iveButton{
	cursor: pointer;	
}


.ive_main {

	margin-bottom: 100px;
	overflow: hidden;
}


 .product_classfication_ive_box{
	margin-right:50px;
 	float:right;
 }
 
 .product_classfication_ive_box .product_classfication_ive{
	
	overflow: hidden;
	margin-right: 60px;
	padding-right:140px;
	padding-bottom: 20px;	
}

 .product_classfication_ive span{
	float: right;
	padding: 0 20px;
	cursor: pointer;
}

/* ================================================== */

.ive_allproduct_wrap{

    width: 1300px;
 	margin-top: 80px;
 	margin-left: 320px;
}

.ive_allProduct_box {
 	display: flex;
    flex-flow: row wrap; 
   justify-content: center;
    align-items: center;
    align-content: center;	
}

.ive_allProduct_box a{
	flex-basis: 22%;
	 margin: 30px ;
	 
}

.dohyun_allProduct_box a li img{
	margin-bottom: 20px;
}

.ive_allproduct_name{
	font-size: 13px;
  	font-family: 'Nanum Gothic', sans-serif;
  	line-height: 25px;
  	
}

.ive_allproduct_info{
	overflow: hidden;
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
  	font-family: 'Nanum Gothic', sans-serif;
  	font-weight: 700;
}


.ive_allproduct_info .info_price{
	float:left;
}

.ive_allproduct_info .info_rate{
	float:right;
	margin-right: 45px;
}
 
.ive_allProduct_box a li img{
	margin-bottom: 20px;
}


	
/* footer */
.footer-outer {
  position: static;
  bottom: 0px;
  width: 100%;
  background-color: rgba(248, 238, 219, 0.279);
  z-index: 5;

}

footer {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  padding: 25px 0px;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 5;
}

footer .footer-inner {
  overflow: hidden;
  color: black;
  height: 200px;
  padding: 25px 0px;
}

footer .footer-inner .footer-left {
  float: left;
}

footer .footer-inner .footer-left img {
  width: 130px;
  height: 95px;
  margin-right:56px;
  display: inline-block;
}

footer .footer-inner .footer-left > div {
  font-size: 13px;
  line-height: 25px;
}

footer .footer-inner .footer-left2 {
  margin-top: 10px;
}

footer .footer-inner .footer-right {
  float: right;
  margin-top: 10px;
}

footer .footer-inner .footer-right span {
  font-size: 13px;
  margin-left: 10px;
  cursor: pointer;
}