* {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none;}
img {max-width: 100%; height: auto;}



.hotTitle{
    margin: 120px 0;
}


.hotTitle span{
    padding: 0 50px;
	position:relative;
}

.hotTitle span::after{
    display: block;
    content: '';
    position: absolute;
    top: 47%;
    left: 0;
    width: 100%;
    border: 3px solid white;
}

.swiper-button-next {
    background: url(/img/next_button4.png) no-repeat;
    background-size: 50% auto;
    background-position: center;
  }
  
  .swiper-button-prev {
    background: url(/img/prev_button.png) no-repeat;
  }

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}



 .new_in{
  /* background-image: url(/img/new_in.png); */
  position: absolute;
  top: 290px;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left bottom !important;
} 


/* 셀럽 별 상품 모음 */

.celebGoods_wrap{
	margin-top: 170px;

}

.celebGoods_box1{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;

}

.celebGoods_box1 div >span{
	margin-bottom:40px;
	font-family: 'Noto Rashi Hebrew', serif; 
	font-size: 30px;
	font-style: italic;
	text-align: center;
}


.celebGoods_box2 {

  	/* display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center; */
    margin-top: 70px;
    display: inline;
}

.celebGoods_box2 li{
	display: inline-block;
	margin:5px;
	width: 260px; height: 200px;
	margin:0
}

.celebGoods_box2 li img{
	filter:grayscale(0.8);
}

.celebGoods_box2 li img:hover{
	filter:grayscale(0);
	transition: all 0.6s;
}

.celebGoods_box_list1{
	margin: 10px 15px;
	flex-basis: 25%;

}

.celebGoods_box_list2{
	margin: 10px 15px;
	flex-basis: 25%;
	display: none;

}

.celebGoods_box_list3{
	margin: 10px 15px;
	flex-basis: 25%;
	display: none;
}

.celebGoods_box_list4{
	margin: 10px 15px;
	flex-basis: 25%;
	display: none;
}

.celebGoods_box_list5{
	margin: 10px 15px;
	flex-basis: 25%;
	display: none;
}


.celebGoods_box2 > div{
	margin-right: 30px;
}

.celebGoods_box2 .celeb_button{
	border-radius: 50%;
	width:170px;
	height:170px;
	border:0;
	background-color: black;
	color:white;
	text-decoration: none;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	line-height: 35px;
	
}

.celeb_goods_img{
	display: flex;
	justify-content: center;
}


.celeb_goods_img ul li img{
	width: 290px;
	height: 260px;
		
}
/* 상품 목록 css */

.about_goods{
	cursor: pointer;
}

.product_classfication{
	
	margin:30px 40px;
	padding-right:10px;
	overflow: hidden;
	
}

.product_classfication span{
	float: right;

	padding: 0 20px;
	cursor: pointer;
	
}

.allProduct{
 
  	margin-top: 50px;
  	margin-bottom: 50px;
  	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
	
}

/* 

.allProduct div img{
  transition: all 0.2s linear;
} */

.allProduct_list {
	margin: 10px 15px;
	flex-basis: 20%;

}

.allProduct_list1 {
	margin: 10px 15px;
	flex-basis: 20%;
	display: none;

}



/* .allProduct div span{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 10;
} */

/* .allProduct div img:hover {
  transform: scale(1.07); 
} */

/* 
.allProduct div img:hover:after .product_content{
  opacity:1;
 
}

.product_content{
	width:100%;
    height:100%;
    position:absolute;
    background-color:  rgba(0,0,0,0.2);
    transition: all 0.4s ease-in-out;
    opacity: 0;
    top: 0;
    left: 10;
	

}
 */
/* .product_content span{
	font-family: 'Nanum Gothic', sans-serif;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
    transition: all 0.2s linear;
}
 */
