<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>

<th:block
	th:replace="~{./layout/y4j_layout :: funcLayout(~{:: .fragment})}">

	<div class="fragment">
		<div class="fragment-inner">

			<div style="height: 50px;">
				<input type="file" id="file" style="display: none;"> 
					<label for="file" style="color: blue; cursor: pointer">업로드</label>
				
				<input type="button" id="remove" style="display: none;">
					<label	for="remove" style="color: red; cursor: pointer">삭제</label>
			</div>
			<div>
				<img id="img" style="width: 150px; height: 150px" />
			</div>

		</div>
	</div>
	
</th:block>

</html>