<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.y4j.final_project.service.orderservice.OrderMapper">
  
  	<select id="getOrderTotal" resultType="int">
  		select count(*) as total from admin_order where admin_order_id=#{user_id}
		<if test='cri.searchContent!=null and cri.searchContent eq "album"'>
  			<![CDATA[and admin_order_album_no >=100]]>
  		</if>
  		<if test='cri.searchContent!=null and cri.searchContent eq "product"'>
  			<![CDATA[and admin_order_prod_no >=9900]]>
  		</if>
  		<if test='cri.searchContent!=null and cri.searchContent eq "all"'>
  			<![CDATA[and admin_order_album_no >=1]]>
  		</if>
  	</select>
  
  
  
  	<select id="getOrderList" resultType="Admin_orderVO">
  		SELECT * FROM admin_order where admin_order_id=#{user_id}
  		<if test='cri.searchContent!=null and cri.searchContent eq "album"'>
  			<![CDATA[and admin_order_album_no >=100]]>
  		</if>
  		<if test='cri.searchContent!=null and cri.searchContent eq "product"'>
  			<![CDATA[and admin_order_prod_no >=9900]]>
  		</if>
  		<if test='cri.searchContent!=null and cri.searchContent eq "all"'>
  			<![CDATA[and admin_order_album_no >=1]]>
  		</if>
  		 order by admin_order_no desc limit #{cri.pageStart}, #{cri.amount}
  	</select>
  	
  	<insert id="testRegist" parameterType="Admin_orderVO">
  		insert into admin_order(admin_order_album_no,
  								admin_order_company,
  								admin_order_id,
  								admin_order_price,
  								admin_order_prod_category,
  								admin_order_prod_cnt,
  								admin_order_prod_no,
  								admin_order_sizetype)
  		values(#{admin_order_album_no},
  				#{admin_order_company},
  				#{admin_order_id},
  				#{admin_order_price},
  				#{admin_order_prod_category},
  				#{admin_order_prod_cnt},
  				#{admin_order_prod_no},
  				#{admin_order_sizetype})
  	</insert>
  	
  	<select id="getDetail" resultType="Admin_orderVO" parameterType="string">
  		select * from admin_order where admin_order_no=#{admin_order_no}
  	</select>
  	
  	
  	<select id="getCategory" resultType="CategoryVO">
  		select * from category where category_lv=1
  	</select>
  	
  	<select id="getCategoryChild" resultType="CategoryVO">
  		select * from category 
  		where category_group_id=#{category_group_id}
  		and category_parent_lv=#{category_lv}
  		and category_detail_parent_lv=#{category_detail_lv}
  	</select>
  	
  </mapper>
  