<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.y4j.final_project.service.orderservice.OrderMapper">
  
  	<select id="getOrderTotal" resultType="int">
  		select count(*) as total from admin_order where admin_order_id=#{user_id}
  	</select>
  
  
  
  	<select id="getOrderList" resultType="Admin_orderVO">
  		SELECT * FROM admin_order where admin_order_id=#{user_id} order by admin_order_no desc limit #{cri.pageStart}, #{cri.amount}
  	</select>
  	
  	<insert id="testRegist" parameterType="Admin_orderVO">
  		insert into admin_order(admin_order_album_no,
  								admin_order_company,
  								admin_order_id,
  								admin_order_price,
  								admin_order_prod_category,
  								admin_order_prod_cnt,
  								admin_order_prod_no,
  								admin_order_sizetype)
  		values(#{admin_order_album_no},
  				#{admin_order_company},
  				#{admin_order_id},
  				#{admin_order_price},
  				#{admin_order_prod_category},
  				#{admin_order_prod_cnt},
  				#{admin_order_prod_no},
  				#{admin_order_sizetype})
  	</insert>
  </mapper>
  