<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.y4j.final_project.product.service.ProductMapper">
   
  	 <!--  전체 상품 데이터 - 검색 기능 추가 -->
   	<select id="productList" resultType="ProductVO">
   		select * from product
   		<if test="searchName != null and searchName != ''">
   			where prod_name like concat('%',#{searchName } , '%')
   			or prod_artist like concat('%', #{searchName }, '%')
   			or prod_type like concat('%', #{searchName }, '%')

   		</if>
   		<if test="searchContent == '최신순'">
   			order by  prod_regdate desc
   		</if>
   		<if test="searchContent == '판매량순'">
   			order by  prod_regdate
   		</if>
   	</select>
   	
	<!-- 상품 상세 페이지 -->
	<select id="productDetailList" resultType="ProductVO">
		select * from product 
		where prod_no = #{prod_no}
	</select>
	
	
	<select id="userOrderRightNow" resultType="UserOrderVO">
		select * from `user_order` 
	</select>
	
	
	
	<!-- 결제 페이지 -->
<!--    <select id="buyRightnow" resultType="ProductVO">
   		select u.user_id,
			   p.*
			from product p 
		    left outer join order_history oh
			on p.prod_no = oh.prod_no 
			left outer join users u
			on oh.user_id = u.user_id
		where p.prod_no = #{prod_no}
   		
   </select> -->
 <!-- ============================================ 블랙핑크 상품 페이지 =========================================  -->
 	   
 	<!-- 블랙핑크 전체상품 목록 -->
   <select id="productList_blackpink" resultType="ProductVO">
   		select * from product where prod_artist = 'BLACKPINK'
   	 		<!-- 블핑 각 굿즈에 대한 목록 -->
   			<if test="searchName != null and searchName != ''">
   				and prod_type = #{searchName}
   			</if>
   		
   			<!-- 블핑 전체 상품에 대한 최신순 / 판매량순 -->
  				<if test="searchContent != null and searchContent == '판매량순'">
   			order by prod_regdate asc
   			
	   		</if>
	   		<if test="searchContent != null and searchContent == '최신순'">
	   			order by prod_regdate desc
	   		</if>
	
   		
   </select>

	   
 <!-- ============================================ 아이브 상품 페이지 =========================================  -->

	<!-- 아이브 전체상품 목록 -->
   <select id="productList_ive" resultType="ProductVO">
   		select * from product where prod_artist = 'IVE'
   	 		<!-- 아이브 각 굿즈에 대한 목록 -->
   			<if test="searchName != null and searchName != ''">
   				and prod_type = #{searchName}
   			</if>
   		
   			<!-- 아이브 전체 상품에 대한 최신순 / 판매량순 -->
	   		<if test="searchContent != null and searchContent == '최신순'">
	   			order by prod_regdate desc
	   		</if>
  				<if test="searchContent != null and searchContent == '판매량순'">
   			order by prod_regdate asc	   			
	   		</if>
	
   		
   </select>
	
		   
 <!-- ============================================ 뉴진스 상품 페이지 ==========================================  -->
 
	<!-- 뉴진스 전체상품 목록 -->
   <select id="productList_newjeans" resultType="ProductVO">
   		select * from product where prod_artist = 'NEWJEANS'
   	 		<!-- 뉴진스 각 굿즈에 대한 목록 -->
   			<if test="searchName != null and searchName != ''">
   				and prod_type = #{searchName}
   			</if>
   		
   			<!-- 뉴진스 전체 상품에 대한 최신순 / 판매량순 -->
	   		<if test="searchContent != null and searchContent == '최신순'">
	   			order by prod_regdate desc
	   		</if>
  				<if test="searchContent != null and searchContent == '판매량순'">
   			order by prod_regdate asc	   			
	   		</if>
   		
   </select>
   
 <!-- ============================================ 이도현 상품 페이지 ==========================================  -->

	<!-- 이도현 전체상품 목록 -->
   <select id="productList_dohyun" resultType="ProductVO">
   		select * from product where prod_artist = 'LEEDOHYUN'
			<!-- <if test="searchType != null and searchType !=''">
				and prod_type like concat("%", "#{searchType}", "%")
			
			</if> -->
   	 		<!-- 이도현 각 굿즈에 대한 목록 -->
   			<if test="searchName != null and searchName != ''">
   				and prod_type = #{searchName}
   			</if>
   		
   			<!-- 이도현 전체 상품에 대한 최신순 / 판매량순 -->
	   		<if test="searchContent != null and searchContent == '최신순'">
	   			order by prod_regdate desc
	   		</if>
  				<if test="searchContent != null and searchContent == '판매량순'">
   			order by prod_regdate asc	   			
	   		</if>
   		
   </select>

 <!-- ============================================ 채수빈 상품 페이지 ==========================================  -->
 
	<!-- 채수빈 전체상품 목록 -->
   <select id="productList_soobin" resultType="ProductVO">
   		select * from product where prod_artist = 'CHAESOOBIN'
			<!-- <if test="searchType != null and searchType !=''">
				and prod_type like concat("%", "#{searchType}", "%")
			
			</if> -->
   	 		<!-- 채수빈 각 굿즈에 대한 목록 -->
   			<if test="searchName != null and searchName != ''">
   				and prod_type = #{searchName}
   			</if>
   		
   			<!-- 채수빈 전체 상품에 대한 최신순 / 판매량순 -->
	   		<if test="searchContent != null and searchContent == '최신순'">
	   			order by prod_regdate desc
	   		</if>
  				<if test="searchContent != null and searchContent == '판매량순'">
   			order by prod_regdate asc	   			
	   		</if>
   		
   </select>

   </mapper>