<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.y4j.final_project.product.service.ProductMapper">
   
  	 <!--  전체 상품 데이터 끌고와서 보여주기 -->
   	<select id="productList" resultType="ProductVO">
   		select * from product
   	</select>
   	
   	<!-- 상품 최신순 리스트 -->
   	<select id="uptoDate" resultType="ProductVO">
   		select * from product order by prod_regdate desc
   	</select>
   	
   <!-- 페이지네이션 -->
  <!--  	<select id="pageTtotal" resultType="int">
   		select count(*) from product
   		where
   		<if test="cri.startDate != null and cri.startDate != '' ">
		<![CDATA[date_format(prod_enddate, '%Y-%m-%d') >= date_format (#{cri.startDate},'%Y-%m-%d')]]>
		</if>

		<if test="cri.endDate != null and cri.endDate != '' ">
		<![CDATA[and date_format(prod_enddate, '%Y-%m-%d') <= date_format (#{cri.endDate},'%Y-%m-%d')]]>
		</if>
		
		<if test="cri.searchName != null and cri.searchName != '' ">
		and prod_name like concat('%', #{cri.searchName}, '%')
		</if>
		
		<if test="cri.searchContent != null and cri.searchContent != '' ">
		and prod_content like concat('%', #{cri.searchContent}, '%')
		</if>
	
   	</select> -->
   
   <!-- 블랙핑크 전체상품 목록 -->
   <select id="blackpink_allList" resultType="ProductVO">
   		select * from product where prod_artist = 'BLACKPINK'
   </select>
   
   <!-- 블랙핑크 최신순 상품 목록 -->
    <select id="blackpink_uptodateList" resultType="ProductVO">
   		select * from product where prod_artist = 'BLACKPINK' order by prod_regdate desc
   </select>
   
   </mapper>