<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.y4j.final_project.schedule.service.ScheduleMapper">

	<insert id="regist" parameterType="ScheduleVO">
		insert into SCHEDULE(schedule_start_time,
							 schedule_end_time,
							 schedule_writer,
							 schedule_type,
							 schedule_ent_name,
							 schedule_location,
							 schedule_content)
    	values(#{schedule_start_time},
    		   #{schedule_end_time},
    		   #{schedule_writer},
    		   #{schedule_type},
    		   #{schedule_ent_name},
    		   #{schedule_location},
    		   #{schedule_content})
	</insert>
	
	<insert id="registMap">
		
		<selectKey keyProperty="schedule_no" order="BEFORE" resultType="int">
			select LAST_INSERT_ID() as schedule_no
		</selectKey>
		
		insert into ENTERTAINER_SCHEDULE (ent_name,
										  schedule_no)
		values(#{ent_name},
			   #{schedule_no})
	</insert>
	
	<select id="getEntType" resultType="EntertainerVO">
		select DISTINCT(ent_group_name) from ENTERTAINER where ent_type = #{ent_type}
	</select>
	
	<select id="getEntType2" resultType="EntertainerVO">
		select ent_name from ENTERTAINER where ent_type = #{ent_type}
	</select>

	<select id="getList" resultType="ScheduleVO">
		select s.schedule_no,
			   s.schedule_start_time,
			   s.schedule_end_time,
			   s.schedule_writer,
			   s.schedule_type,
			   s.schedule_ent_name,
			   s.schedule_location,
			   es.ent_name
		from `SCHEDULE` s
		left join ENTERTAINER_SCHEDULE es
			on es.schedule_no = s.schedule_no
		left join ENTERTAINER e
			on es.ent_name = e.ent_name
		order by s.schedule_no desc;
	</select>
	
	<select id="getDetail" resultType="ScheduleVO">	
		select s.schedule_no,
			   s.schedule_start_time,
			   s.schedule_end_time,
			   s.schedule_writer,
			   s.schedule_type,
			   s.schedule_ent_name,
			   s.schedule_location,
			   s.schedule_content,
	   		   es.ent_name,
	   		   e.ent_type
		from `schedule` s
		left join entertainer_schedule es
			on es.schedule_no = s.schedule_no
		left join entertainer e
			on es.ent_name = e.ent_name
		where s.schedule_no = #{schedule_no}
		order by s.schedule_no desc
	</select>

	<update id="modify" >
		
	</update>

</mapper>